In [ ]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.ExcelFile('/content/drive/MyDrive/NJ_Mine/Crash, Raw txt Files/2001_Accidents_1st clean/NJ_2001_Accidents_headers.csv')

FileNotFoundError: [Errno 2] No such file or directory: '/content/drive/MyDrive/NJ_Mine/Crash, Raw txt Files/2001_Accidents_1st clean/NJ_2001_Accidents_headers.csv'

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 312696 entries, 0 to 312695
Data columns (total 47 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   Crash_ID                          312696 non-null  object
 1   County Name                       312696 non-null  object
 2   Municipality Name                 312696 non-null  object
 3   Crash Date                        312696 non-null  object
 4   Crash Day of Week                 312696 non-null  object
 5   Crash Time                        312696 non-null  object
 6   Police Department Code            312696 non-null  object
 7   Police Department                 312696 non-null  object
 8   Police Department.1               312696 non-null  object
 9   Total Killed                      312696 non-null  int64
 10  Total Injured                     312696 non-null  float64
 11  Pedestrians Killed                312696 non-null  float64
 12  Pedestrians Injured               312696 non-null  float64
 13  Severity                          312696 non-null  object
 14  Intersection                      312696 non-null  object
 15  Alcohol Involved                  312696 non-null  object
 16  HazMat Involved                   312696 non-null  object
 17  Crash Type Code                   312696 non-null  int64
 18  Total Vehicles Involved           312696 non-null  int64
 19  Crash Location                    312696 non-null  object
 20  Location Direction                312696 non-null  object
 21  Route                             312696 non-null  object
 22  Route Suffix                      312696 non-null  object
 23  SRI (Standard Route Indentifier)  312696 non-null  object
 24  Mile Post                         312696 non-null  object
 25  Road System                       312696 non-null  object
 26  Road Character                    312696 non-null  object
 27  Road Surface Type                 312696 non-null  object
 28  Surface Condition                 312696 non-null  object
 29  Light Condition                   312696 non-null  object
 30  Enviornmental Condition           312696 non-null  object
 31  Road Divided By                   312696 non-null  object
 32  Temporary Traffic Control Zone    312696 non-null  object
 33  Distance to Cross Street          312696 non-null  object
 34  Unit of Measurement               312696 non-null  object
 35  Direction from Cross Street       312696 non-null  object
 36  Cross Street Name                 312696 non-null  object
 37  Is Ramp                           312696 non-null  object
 38  Ramp To/From Route Name           312696 non-null  object
 39  Ramp To/From Direction            312696 non-null  object
 40  Posted Speed                      312696 non-null  int64
 41  Posted Speed Cross Street         312696 non-null  object
 42  Latitude                          312696 non-null  object
 43  Longitude                         312696 non-null  object
 44  Cell Phone In Use Flag            312696 non-null  object
 45  Other Property Damage             312696 non-null  object
 46  Reporting Badge No.               312696 non-null  object
dtypes: float64(3), int64(4), object(40)
memory usage: 112.1+ MB

In [ ]:
df.head(4)

,Crash_ID,County Name,Municipality Name,Crash Date,Crash Day of Week,Crash Time,Police Department Code,Police Department,Police Department.1,Total Killed,...,Is Ramp,Ramp To/From Route Name,Ramp To/From Direction,Posted Speed,Posted Speed Cross Street,Latitude,Longitude,Cell Phone In Use Flag,Other Property Damage,Reporting Badge No.
0,20010101#2001-17846,ATLANTIC,ABSECON CITY,12/21/2001,F,1834,01,ABSECON CITY,MUNICIPAL COMP?,0,...,.2,,,25,.1,,.1,N.3,NEVER SAW V-1 MINOR DAMAGE - NO INJURIES REPOR...,830
1,2001010101-00029,ATLANTIC,ABSECON CITY,01/01/2001,M,0930,1,ABSECON,,0,...,,,,25,,,,N,...,836
2,2001010101-004615,ATLANTIC,ABSECON CITY,04/10/2001,TU,1444,1,ABSECON,,0,...,,,,25,,,,N,...,836
3,2001010101-004880,ATLANTIC,ABSECON CITY,04/15/2001,S,1356,1,ABSECON,,0,...,,,,45,,,,N,WITNESS-PETRIA GIBSON AND ANGELO HERSH ...,886

In [ ]:
df.tail(3)

,Crash_ID,County Name,Municipality Name,Crash Date,Crash Day of Week,Crash Time,Police Department Code,Police Department,Police Department.1,Total Killed,...,Is Ramp,Ramp To/From Route Name,Ramp To/From Direction,Posted Speed,Posted Speed Cross Street,Latitude,Longitude,Cell Phone In Use Flag,Other Property Damage,Reporting Badge No.
312693,20012123B5001269A,WARREN,WHITE TWP,10/07/2001,S,1415,2,STATE POLICE,WASHINGTON,0,...,,,,50,,,,N,...,5564
312694,20012123B??001285A,WARREN,WHITE TWP,10/20/2001,SA,1900,2,STATE POLICE,WASHINGTON,0,...,,,,50,,,,N,...,5246
312695,20012123BI500105A,WARREN,WHITE TWP,01/03/2001,W,1340,2,STATE POLICE,WASHINGTON,0,...,,,,50,,,,N,...,4303

In [ ]:
df.rename({'Police Department.1':'Police Station'},axis=1,inplace=True)
df['Year'] = 2001

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 312696 entries, 0 to 312695
Data columns (total 48 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   Crash_ID                          312696 non-null  object
 1   County Name                       312696 non-null  object
 2   Municipality Name                 312696 non-null  object
 3   Crash Date                        312696 non-null  object
 4   Crash Day of Week                 312696 non-null  object
 5   Crash Time                        312696 non-null  object
 6   Police Department Code            312696 non-null  object
 7   Police Department                 312696 non-null  object
 8   Police Station                    312696 non-null  object
 9   Total Killed                      312696 non-null  int64
 10  Total Injured                     312696 non-null  float64
 11  Pedestrians Killed                312696 non-null  float64
 12  Pedestrians Injured               312696 non-null  float64
 13  Severity                          312696 non-null  object
 14  Intersection                      312696 non-null  object
 15  Alcohol Involved                  312696 non-null  object
 16  HazMat Involved                   312696 non-null  object
 17  Crash Type Code                   312696 non-null  int64
 18  Total Vehicles Involved           312696 non-null  int64
 19  Crash Location                    312696 non-null  object
 20  Location Direction                312696 non-null  object
 21  Route                             312696 non-null  object
 22  Route Suffix                      312696 non-null  object
 23  SRI (Standard Route Indentifier)  312696 non-null  object
 24  Mile Post                         312696 non-null  object
 25  Road System                       312696 non-null  object
 26  Road Character                    312696 non-null  object
 27  Road Surface Type                 312696 non-null  object
 28  Surface Condition                 312696 non-null  object
 29  Light Condition                   312696 non-null  object
 30  Enviornmental Condition           312696 non-null  object
 31  Road Divided By                   312696 non-null  object
 32  Temporary Traffic Control Zone    312696 non-null  object
 33  Distance to Cross Street          312696 non-null  object
 34  Unit of Measurement               312696 non-null  object
 35  Direction from Cross Street       312696 non-null  object
 36  Cross Street Name                 312696 non-null  object
 37  Is Ramp                           312696 non-null  object
 38  Ramp To/From Route Name           312696 non-null  object
 39  Ramp To/From Direction            312696 non-null  object
 40  Posted Speed                      312696 non-null  int64
 41  Posted Speed Cross Street         312696 non-null  object
 42  Latitude                          312696 non-null  object
 43  Longitude                         312696 non-null  object
 44  Cell Phone In Use Flag            312696 non-null  object
 45  Other Property Damage             312696 non-null  object
 46  Reporting Badge No.               312696 non-null  object
 47  Year                              312696 non-null  int64
dtypes: float64(3), int64(5), object(40)
memory usage: 125.0+ MB

In [ ]:
df_sample = df.copy()

In [ ]:
df1 = pd.read_csv('/content/drive/MyDrive/NJ_Mine/Crash, Raw txt Files/NewJersey2002Accidents.txt',sep=',',header=None)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (25) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
df1.head(4)

,0,1,2,3,4,5,6,7,8,9,...,37,38,39,40,41,42,43,44,45,46
0,20020101#02-3806,ATLANTIC,ABSECON CITY,02/26/2002,TU,1850,01,ABSECON CITY,MUNICIPAL COMP?,0,...,,,,50,,,,N,NONE (8) SUMMONS-#A047283 84 85 86 87 88 89 90...,830
1,20020101#2002-19775,ATLANTIC,ABSECON CITY,11/29/2002,F,1727,01,ABSECON CITY,MUNICIPAL COMP?,0,...,,,,40,,,,N,NONE ...,830
2,2002010101-4114,ATLANTIC,ABSECON CITY,03/03/2002,S,1448,,ABSECON CITY,,0,...,,,,40,,,,N,NONE ...,833
3,2002010102-001140,ATLANTIC,ABSECON CITY,01/20/2002,S,0025,,ABSECON,MUNICIPAL COMP?,0,...,,,,35,,,,N,...,835

In [ ]:
#frames = [df,df1]
#df_new = pd.concat(frames, ignore_index=True)
df1['Year'] = 2002

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319979 entries, 0 to 319978
Data columns (total 48 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       319979 non-null  object
 1   1       319979 non-null  object
 2   2       319979 non-null  object
 3   3       319979 non-null  object
 4   4       319979 non-null  object
 5   5       319979 non-null  object
 6   6       319979 non-null  object
 7   7       319979 non-null  object
 8   8       319979 non-null  object
 9   9       319979 non-null  int64
 10  10      319979 non-null  int64
 11  11      319979 non-null  int64
 12  12      319979 non-null  int64
 13  13      319979 non-null  object
 14  14      319979 non-null  object
 15  15      319979 non-null  object
 16  16      319979 non-null  object
 17  17      319979 non-null  int64
 18  18      319979 non-null  int64
 19  19      319979 non-null  object
 20  20      319979 non-null  object
 21  21      319979 non-null  object
 22  22      319979 non-null  object
 23  23      319979 non-null  object
 24  24      319979 non-null  object
 25  25      319979 non-null  object
 26  26      319979 non-null  object
 27  27      319979 non-null  object
 28  28      319979 non-null  object
 29  29      319979 non-null  object
 30  30      319979 non-null  object
 31  31      319979 non-null  object
 32  32      319979 non-null  object
 33  33      319979 non-null  object
 34  34      319979 non-null  object
 35  35      319979 non-null  object
 36  36      319979 non-null  object
 37  37      319979 non-null  object
 38  38      319979 non-null  object
 39  39      319979 non-null  object
 40  40      319979 non-null  int64
 41  41      319979 non-null  object
 42  42      319979 non-null  object
 43  43      319979 non-null  object
 44  44      319979 non-null  object
 45  45      319979 non-null  object
 46  46      319979 non-null  object
 47  Year    319979 non-null  int64
dtypes: int64(8), object(40)
memory usage: 117.2+ MB

In [ ]:
df_sample1 = df1.copy()

In [ ]:
df_sample1.rename({0: 'Crash_ID', 1:'County Name',2:'Municipality Name',3:'Crash Date',4:'Crash Day of Week',5:'Crash Time',6:'Police Department Code', 7:'Police Department'}, axis=1, inplace=True)

In [ ]:
df_sample1.head(3)

,Crash_ID,County Name,Municipality Name,Crash Date,Crash Day of Week,Crash Time,Police Department Code,Police Department,8,9,...,38,39,40,41,42,43,44,45,46,Year
0,20020101#02-3806,ATLANTIC,ABSECON CITY,02/26/2002,TU,1850,01,ABSECON CITY,MUNICIPAL COMP?,0,...,,,50,,,,N,NONE (8) SUMMONS-#A047283 84 85 86 87 88 89 90...,830,2002
1,20020101#2002-19775,ATLANTIC,ABSECON CITY,11/29/2002,F,1727,01,ABSECON CITY,MUNICIPAL COMP?,0,...,,,40,,,,N,NONE ...,830,2002
2,2002010101-4114,ATLANTIC,ABSECON CITY,03/03/2002,S,1448,,ABSECON CITY,,0,...,,,40,,,,N,NONE ...,833,2002

In [ ]:
df_sample1.rename({8:'Police Station', 9:'Total Killed', 10:'Total Injured', 11:'Pedestrians Killed', 12:'Pedestrians Injured', 13:'Severity', 14:'Intersection', 15:'Alcohol Involved', 16:'HazMat Involved', 17:'Crash Type Code', 18:'Total Vehicles Involved', 19:'Crash Location'}, axis=1, inplace=True)

In [ ]:
columns1 = ['County Name','Municipality Name','Crash Date','Crash Day of Week','Crash Time','Police Department Code']
columns2 = ['Police Station', 'Total Killed', 'Total Injured', 'Pedestrians Killed', 'Pedestrians Injured', 'Severity', 'Intersection', 'Alcohol Involved', 'HazMat Involved', 'Crash Type Code', 'Total Vehicles Involved', 'Crash Location']
df_sample1[columns1].head(2)

,County Name,Municipality Name,Crash Date,Crash Day of Week,Crash Time,Police Department Code
0,ATLANTIC,ABSECON CITY,02/26/2002,TU,1850,01
1,ATLANTIC,ABSECON CITY,11/29/2002,F,1727,01

In [ ]:
df_sample1[columns2].head(4)

,Police Station,Total Killed,Total Injured,Pedestrians Killed,Pedestrians Injured,Severity,Intersection,Alcohol Involved,HazMat Involved,Crash Type Code,Total Vehicles Involved,Crash Location
0,MUNICIPAL COMP?,0,0,0,0,P,B,Y,N,1,2,ABSECON BLVD W/B ...
1,MUNICIPAL COMP?,0,2,0,0,I,I,N,N,7,2,RT 30 ...
2,,0,2,0,0,I,B,N,N,1,3,RT 30 ...
3,MUNICIPAL COMP?,0,0,0,0,P,I,N,N,3,2,RT 9 ...

In [ ]:
df_sample1.rename({20:'Location Direction',21:'Route',22:'Route Suffix',23:'SRI (Standard Route Indentifier)',24:'Mile Post',25:'Road System',26:'Road Character',27:'Road Surface Type',28:'Surface Condition',29:'Light Condition',30:'Enviornmental Condition',31:'Road Divided By',32:'Temporary Traffic Control Zone',33:'Distance to Cross Street',34:'Unit of Measurement',35:'Direction from Cross Street',36:'Cross Street Name',37:'Is Ramp',38:'Ramp To/From Route Name',39:'Ramp To/From Direction'},axis=1,inplace=True)
df_sample1.head(4)

,Crash_ID,County Name,Municipality Name,Crash Date,Crash Day of Week,Crash Time,Police Department Code,Police Department,Police Station,Total Killed,...,Ramp To/From Route Name,Ramp To/From Direction,40,41,42,43,44,45,46,Year
0,20020101#02-3806,ATLANTIC,ABSECON CITY,02/26/2002,TU,1850,01,ABSECON CITY,MUNICIPAL COMP?,0,...,,,50,,,,N,NONE (8) SUMMONS-#A047283 84 85 86 87 88 89 90...,830,2002
1,20020101#2002-19775,ATLANTIC,ABSECON CITY,11/29/2002,F,1727,01,ABSECON CITY,MUNICIPAL COMP?,0,...,,,40,,,,N,NONE ...,830,2002
2,2002010101-4114,ATLANTIC,ABSECON CITY,03/03/2002,S,1448,,ABSECON CITY,,0,...,,,40,,,,N,NONE ...,833,2002
3,2002010102-001140,ATLANTIC,ABSECON CITY,01/20/2002,S,0025,,ABSECON,MUNICIPAL COMP?,0,...,,,35,,,,N,...,835,2002

In [ ]:
columns3 = ['Location Direction','Route','Route Suffix','SRI (Standard Route Indentifier)','Mile Post','Road System','Road Character','Road Surface Type','Surface Condition','Light Condition','Enviornmental Condition','Road Divided By','Temporary Traffic Control Zone','Distance to Cross Street','Unit of Measurement','Direction from Cross Street','Cross Street Name','Is Ramp','Ramp To/From Route Name','Ramp To/From Direction']

In [ ]:
df_sample1.rename({40:'Posted Speed',41:'Posted Speed Cross Street',42:'Latitude',43:'Longitude',44:'Cell Phone In Use Flag', 45:'Other Property Damage', 46:'Reporting Badge No.'},axis=1,inplace=True)

In [ ]:
columns4 = ['Posted Speed','Posted Speed Cross Street','Latitude','Longitude','Cell Phone In Use Flag','Other Property Damage','Reporting Badge No.']
df_sample1[columns4].head(4)

,Posted Speed,Posted Speed Cross Street,Latitude,Longitude,Cell Phone In Use Flag,Other Property Damage,Reporting Badge No.
0,50,,,,N,NONE (8) SUMMONS-#A047283 84 85 86 87 88 89 90...,830
1,40,,,,N,NONE ...,830
2,40,,,,N,NONE ...,833
3,35,,,,N,...,835

In [ ]:
df_sample1.info(4)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319979 entries, 0 to 319978
Data columns (total 48 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   Crash_ID                          319979 non-null  object
 1   County Name                       319979 non-null  object
 2   Municipality Name                 319979 non-null  object
 3   Crash Date                        319979 non-null  object
 4   Crash Day of Week                 319979 non-null  object
 5   Crash Time                        319979 non-null  object
 6   Police Department Code            319979 non-null  object
 7   Police Department                 319979 non-null  object
 8   Police Station                    319979 non-null  object
 9   Total Killed                      319979 non-null  int64
 10  Total Injured                     319979 non-null  int64
 11  Pedestrians Killed                319979 non-null  int64
 12  Pedestrians Injured               319979 non-null  int64
 13  Severity                          319979 non-null  object
 14  Intersection                      319979 non-null  object
 15  Alcohol Involved                  319979 non-null  object
 16  HazMat Involved                   319979 non-null  object
 17  Crash Type Code                   319979 non-null  int64
 18  Total Vehicles Involved           319979 non-null  int64
 19  Crash Location                    319979 non-null  object
 20  Location Direction                319979 non-null  object
 21  Route                             319979 non-null  object
 22  Route Suffix                      319979 non-null  object
 23  SRI (Standard Route Indentifier)  319979 non-null  object
 24  Mile Post                         319979 non-null  object
 25  Road System                       319979 non-null  object
 26  Road Character                    319979 non-null  object
 27  Road Surface Type                 319979 non-null  object
 28  Surface Condition                 319979 non-null  object
 29  Light Condition                   319979 non-null  object
 30  Enviornmental Condition           319979 non-null  object
 31  Road Divided By                   319979 non-null  object
 32  Temporary Traffic Control Zone    319979 non-null  object
 33  Distance to Cross Street          319979 non-null  object
 34  Unit of Measurement               319979 non-null  object
 35  Direction from Cross Street       319979 non-null  object
 36  Cross Street Name                 319979 non-null  object
 37  Is Ramp                           319979 non-null  object
 38  Ramp To/From Route Name           319979 non-null  object
 39  Ramp To/From Direction            319979 non-null  object
 40  Posted Speed                      319979 non-null  int64
 41  Posted Speed Cross Street         319979 non-null  object
 42  Latitude                          319979 non-null  object
 43  Longitude                         319979 non-null  object
 44  Cell Phone In Use Flag            319979 non-null  object
 45  Other Property Damage             319979 non-null  object
 46  Reporting Badge No.               319979 non-null  object
 47  Year                              319979 non-null  int64
dtypes: int64(8), object(40)
memory usage: 117.2+ MB

In [ ]:
df_merge1 = df_sample.append(df_sample1, ignore_index=True)

In [ ]:
df_merge1.head(5)

,Crash_ID,County Name,Municipality Name,Crash Date,Crash Day of Week,Crash Time,Police Department Code,Police Department,Police Station,Total Killed,...,Ramp To/From Route Name,Ramp To/From Direction,Posted Speed,Posted Speed Cross Street,Latitude,Longitude,Cell Phone In Use Flag,Other Property Damage,Reporting Badge No.,Year
0,20010101#2001-17846,ATLANTIC,ABSECON CITY,12/21/2001,F,1834,01,ABSECON CITY,MUNICIPAL COMP?,0,...,,,25,.1,,.1,N.3,NEVER SAW V-1 MINOR DAMAGE - NO INJURIES REPOR...,830,2001
1,2001010101-00029,ATLANTIC,ABSECON CITY,01/01/2001,M,0930,1,ABSECON,,0,...,,,25,,,,N,...,836,2001
2,2001010101-004615,ATLANTIC,ABSECON CITY,04/10/2001,TU,1444,1,ABSECON,,0,...,,,25,,,,N,...,836,2001
3,2001010101-004880,ATLANTIC,ABSECON CITY,04/15/2001,S,1356,1,ABSECON,,0,...,,,45,,,,N,WITNESS-PETRIA GIBSON AND ANGELO HERSH ...,886,2001
4,2001010101-004912,ATLANTIC,ABSECON CITY,04/16/2001,M,1029,1,ABSECON,,0,...,,,35,,,,N,*BETH VEHICLES-RELIANCE INSURANCE CO.(215)864-...,836,2001

In [ ]:
df_merge1.tail(3)

,Crash_ID,County Name,Municipality Name,Crash Date,Crash Day of Week,Crash Time,Police Department Code,Police Department,Police Station,Total Killed,...,Ramp To/From Route Name,Ramp To/From Direction,Posted Speed,Posted Speed Cross Street,Latitude,Longitude,Cell Phone In Use Flag,Other Property Damage,Reporting Badge No.,Year
632672,20022123B1500295A,WARREN,WHITE TWP,04/10/2002,W,1139,02,STATE POLICE,WASHINGTON,0,...,,,50,,,,N,...,5161,2002
632673,20022123B1500296A,WARREN,WHITE TWP,04/16/2002,TU,1650,2,STATE POLICE,WASHINGTON,0,...,,,50,,,,N,...,5881,2002
632674,20022123B150200202208A,WARREN,WHITE TWP,08/27/2002,TU,1334,2,STATE POLICE,WASHINGTON,0,...,,,50,,,,N,...,6039,2002

In [ ]:
df_merge1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 632675 entries, 0 to 632674
Data columns (total 48 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   Crash_ID                          632675 non-null  object
 1   County Name                       632675 non-null  object
 2   Municipality Name                 632675 non-null  object
 3   Crash Date                        632675 non-null  object
 4   Crash Day of Week                 632675 non-null  object
 5   Crash Time                        632675 non-null  object
 6   Police Department Code            632675 non-null  object
 7   Police Department                 632675 non-null  object
 8   Police Station                    632675 non-null  object
 9   Total Killed                      632675 non-null  int64
 10  Total Injured                     632675 non-null  float64
 11  Pedestrians Killed                632675 non-null  float64
 12  Pedestrians Injured               632675 non-null  float64
 13  Severity                          632675 non-null  object
 14  Intersection                      632675 non-null  object
 15  Alcohol Involved                  632675 non-null  object
 16  HazMat Involved                   632675 non-null  object
 17  Crash Type Code                   632675 non-null  int64
 18  Total Vehicles Involved           632675 non-null  int64
 19  Crash Location                    632675 non-null  object
 20  Location Direction                632675 non-null  object
 21  Route                             632675 non-null  object
 22  Route Suffix                      632675 non-null  object
 23  SRI (Standard Route Indentifier)  632675 non-null  object
 24  Mile Post                         632675 non-null  object
 25  Road System                       632675 non-null  object
 26  Road Character                    632675 non-null  object
 27  Road Surface Type                 632675 non-null  object
 28  Surface Condition                 632675 non-null  object
 29  Light Condition                   632675 non-null  object
 30  Enviornmental Condition           632675 non-null  object
 31  Road Divided By                   632675 non-null  object
 32  Temporary Traffic Control Zone    632675 non-null  object
 33  Distance to Cross Street          632675 non-null  object
 34  Unit of Measurement               632675 non-null  object
 35  Direction from Cross Street       632675 non-null  object
 36  Cross Street Name                 632675 non-null  object
 37  Is Ramp                           632675 non-null  object
 38  Ramp To/From Route Name           632675 non-null  object
 39  Ramp To/From Direction            632675 non-null  object
 40  Posted Speed                      632675 non-null  int64
 41  Posted Speed Cross Street         632675 non-null  object
 42  Latitude                          632675 non-null  object
 43  Longitude                         632675 non-null  object
 44  Cell Phone In Use Flag            632675 non-null  object
 45  Other Property Damage             632675 non-null  object
 46  Reporting Badge No.               632675 non-null  object
 47  Year                              632675 non-null  int64
dtypes: float64(3), int64(5), object(40)
memory usage: 231.7+ MB

In [ ]:
df2 = pd.read_csv('/content/drive/MyDrive/NJ_Mine/Crash, Raw txt Files/NewJersey2003Accidents.txt',sep=',',header=None)

In [ ]:
df2.head(3)

,0,1,2,3,4,5,6,7,8,9,...,37,38,39,40,41,42,43,44,45,46
0,2003010102-007854,ATLANTIC,ABSECON CITY,04/29/2003,TU,0726,,ABSECON,MUNICIPAL COMP?,0,...,,,,50,,,,N,...,835
1,2003010103-003263,ATLANTIC,ABSECON CITY,03/13/2003,TH,0208,1,ABSECON CITY,MUNICIPAL COMP?,0,...,,,,25,,,,N,...,835
2,2003010103-006356,ATLANTIC,ABSECON CITY,05/20/2003,TU,2348,1,ABSECON,MUNICIPAL COMP?,0,...,,,,40,,,,N,...,835

In [ ]:
df2['Year'] = 2003

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 324053 entries, 0 to 324052
Data columns (total 48 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       324053 non-null  object
 1   1       324053 non-null  object
 2   2       324053 non-null  object
 3   3       324053 non-null  object
 4   4       324053 non-null  object
 5   5       324053 non-null  object
 6   6       324053 non-null  object
 7   7       324053 non-null  object
 8   8       324053 non-null  object
 9   9       324053 non-null  int64
 10  10      324053 non-null  int64
 11  11      324053 non-null  int64
 12  12      324053 non-null  int64
 13  13      324053 non-null  object
 14  14      324053 non-null  object
 15  15      324053 non-null  object
 16  16      324053 non-null  object
 17  17      324053 non-null  int64
 18  18      324053 non-null  int64
 19  19      324053 non-null  object
 20  20      324053 non-null  object
 21  21      324053 non-null  object
 22  22      324053 non-null  object
 23  23      324053 non-null  object
 24  24      324053 non-null  object
 25  25      324053 non-null  int64
 26  26      324053 non-null  object
 27  27      324053 non-null  object
 28  28      324053 non-null  object
 29  29      324053 non-null  object
 30  30      324053 non-null  object
 31  31      324053 non-null  object
 32  32      324053 non-null  object
 33  33      324053 non-null  object
 34  34      324053 non-null  object
 35  35      324053 non-null  object
 36  36      324053 non-null  object
 37  37      324053 non-null  object
 38  38      324053 non-null  object
 39  39      324053 non-null  object
 40  40      324053 non-null  int64
 41  41      324053 non-null  object
 42  42      324053 non-null  object
 43  43      324053 non-null  object
 44  44      324053 non-null  object
 45  45      324053 non-null  object
 46  46      324053 non-null  object
 47  Year    324053 non-null  int64
dtypes: int64(9), object(39)
memory usage: 118.7+ MB

In [ ]:
df_sample2 = df2.copy()

In [ ]:
df_sample2.rename({0: 'Crash_ID', 1:'County Name',2:'Municipality Name',3:'Crash Date',4:'Crash Day of Week',5:'Crash Time',6:'Police Department Code', 7:'Police Department'}, axis=1, inplace=True)

In [ ]:
df_sample2[columns1].head(2)

,County Name,Municipality Name,Crash Date,Crash Day of Week,Crash Time,Police Department Code
0,ATLANTIC,ABSECON CITY,04/29/2003,TU,0726,
1,ATLANTIC,ABSECON CITY,03/13/2003,TH,0208,1

In [ ]:
df_sample2.rename({8:'Police Station', 9:'Total Killed', 10:'Total Injured', 11:'Pedestrians Killed', 12:'Pedestrians Injured', 13:'Severity', 14:'Intersection', 15:'Alcohol Involved', 16:'HazMat Involved', 17:'Crash Type Code', 18:'Total Vehicles Involved', 19:'Crash Location'}, axis=1, inplace=True)

In [ ]:
df_sample2[columns2].head(3)

,Police Station,Total Killed,Total Injured,Pedestrians Killed,Pedestrians Injured,Severity,Intersection,Alcohol Involved,HazMat Involved,Crash Type Code,Total Vehicles Involved,Crash Location
0,MUNICIPAL COMP?,0,0,0,0,P,B,N,N,11,1,US 30 ...
1,MUNICIPAL COMP?,0,0,0,0,P,B,N,N,6,2,LAVENDER LN ...
2,MUNICIPAL COMP?,0,2,0,0,I,B,Y,N,4,2,US 30 ...

In [ ]:
df_sample2.rename({20:'Location Direction',21:'Route',22:'Route Suffix',23:'SRI (Standard Route Indentifier)',24:'Mile Post',25:'Road System',26:'Road Character',27:'Road Surface Type',28:'Surface Condition',29:'Light Condition',30:'Enviornmental Condition',31:'Road Divided By',32:'Temporary Traffic Control Zone',33:'Distance to Cross Street',34:'Unit of Measurement',35:'Direction from Cross Street',36:'Cross Street Name',37:'Is Ramp',38:'Ramp To/From Route Name',39:'Ramp To/From Direction'},axis=1,inplace=True)
df_sample2.head(4)

,Crash_ID,County Name,Municipality Name,Crash Date,Crash Day of Week,Crash Time,Police Department Code,Police Department,Police Station,Total Killed,...,Ramp To/From Route Name,Ramp To/From Direction,40,41,42,43,44,45,46,Year
0,2003010102-007854,ATLANTIC,ABSECON CITY,04/29/2003,TU,0726,,ABSECON,MUNICIPAL COMP?,0,...,,,50,,,,N,...,835,2003
1,2003010103-003263,ATLANTIC,ABSECON CITY,03/13/2003,TH,0208,1,ABSECON CITY,MUNICIPAL COMP?,0,...,,,25,,,,N,...,835,2003
2,2003010103-006356,ATLANTIC,ABSECON CITY,05/20/2003,TU,2348,1,ABSECON,MUNICIPAL COMP?,0,...,,,40,,,,N,...,835,2003
3,2003010103-007018,ATLANTIC,ABSECON CITY,06/05/2003,TH,1318,1,ABSECON,,0,...,,,35,,,,N,...,826,2003

In [ ]:
df_sample2.rename({40:'Posted Speed',41:'Posted Speed Cross Street',42:'Latitude',43:'Longitude',44:'Cell Phone In Use Flag', 45:'Other Property Damage', 46:'Reporting Badge No.'},axis=1,inplace=True)

In [ ]:
df_sample2[columns4].head(2)

,Posted Speed,Posted Speed Cross Street,Latitude,Longitude,Cell Phone In Use Flag,Other Property Damage,Reporting Badge No.
0,50,,,,N,...,835
1,25,,,,N,...,835

In [ ]:
df_merge2 = df_merge1.append(df_sample2, ignore_index=True)

In [ ]:
df_merge2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 956728 entries, 0 to 956727
Data columns (total 48 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   Crash_ID                          956728 non-null  object
 1   County Name                       956728 non-null  object
 2   Municipality Name                 956728 non-null  object
 3   Crash Date                        956728 non-null  object
 4   Crash Day of Week                 956728 non-null  object
 5   Crash Time                        956728 non-null  object
 6   Police Department Code            956728 non-null  object
 7   Police Department                 956728 non-null  object
 8   Police Station                    956728 non-null  object
 9   Total Killed                      956728 non-null  int64
 10  Total Injured                     956728 non-null  float64
 11  Pedestrians Killed                956728 non-null  float64
 12  Pedestrians Injured               956728 non-null  float64
 13  Severity                          956728 non-null  object
 14  Intersection                      956728 non-null  object
 15  Alcohol Involved                  956728 non-null  object
 16  HazMat Involved                   956728 non-null  object
 17  Crash Type Code                   956728 non-null  int64
 18  Total Vehicles Involved           956728 non-null  int64
 19  Crash Location                    956728 non-null  object
 20  Location Direction                956728 non-null  object
 21  Route                             956728 non-null  object
 22  Route Suffix                      956728 non-null  object
 23  SRI (Standard Route Indentifier)  956728 non-null  object
 24  Mile Post                         956728 non-null  object
 25  Road System                       956728 non-null  object
 26  Road Character                    956728 non-null  object
 27  Road Surface Type                 956728 non-null  object
 28  Surface Condition                 956728 non-null  object
 29  Light Condition                   956728 non-null  object
 30  Enviornmental Condition           956728 non-null  object
 31  Road Divided By                   956728 non-null  object
 32  Temporary Traffic Control Zone    956728 non-null  object
 33  Distance to Cross Street          956728 non-null  object
 34  Unit of Measurement               956728 non-null  object
 35  Direction from Cross Street       956728 non-null  object
 36  Cross Street Name                 956728 non-null  object
 37  Is Ramp                           956728 non-null  object
 38  Ramp To/From Route Name           956728 non-null  object
 39  Ramp To/From Direction            956728 non-null  object
 40  Posted Speed                      956728 non-null  int64
 41  Posted Speed Cross Street         956728 non-null  object
 42  Latitude                          956728 non-null  object
 43  Longitude                         956728 non-null  object
 44  Cell Phone In Use Flag            956728 non-null  object
 45  Other Property Damage             956728 non-null  object
 46  Reporting Badge No.               956728 non-null  object
 47  Year                              956728 non-null  int64
dtypes: float64(3), int64(5), object(40)
memory usage: 350.4+ MB

In [ ]:
df_merge2.tail(3)

,Crash_ID,County Name,Municipality Name,Crash Date,Crash Day of Week,Crash Time,Police Department Code,Police Department,Police Station,Total Killed,...,Ramp To/From Route Name,Ramp To/From Direction,Posted Speed,Posted Speed Cross Street,Latitude,Longitude,Cell Phone In Use Flag,Other Property Damage,Reporting Badge No.,Year
956725,20032123OIT-03175784,WARREN,WHITE TWP,07/20/2003,S,1519,2,?,WASHINGTON,0,...,,,50,,,,N,...,,2003
956726,20032123OIT-03187287,WARREN,WHITE TWP,08/03/2003,S,1320,2,STATE POLICE,WASHINGTON,0,...,,,0,,,,N,...,3104,2003
956727,20032123OIT-03210024,WARREN,WHITE TWP,08/16/2003,SA,1840,2,STATE POLICE,WASHINGTON,0,...,,,50,,,,N,...,5104,2003

In [ ]:
df3 = pd.read_csv('/content/drive/MyDrive/NJ_Mine/Crash, Raw txt Files/NewJersey2004Accidents.txt',sep=',',header=None)

In [ ]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 323419 entries, 0 to 323418
Data columns (total 47 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       323419 non-null  object
 1   1       323419 non-null  object
 2   2       323419 non-null  object
 3   3       323419 non-null  object
 4   4       323419 non-null  object
 5   5       323419 non-null  object
 6   6       323419 non-null  object
 7   7       323419 non-null  object
 8   8       323419 non-null  object
 9   9       323419 non-null  int64
 10  10      323419 non-null  int64
 11  11      323419 non-null  int64
 12  12      323419 non-null  int64
 13  13      323419 non-null  object
 14  14      323419 non-null  object
 15  15      323419 non-null  object
 16  16      323419 non-null  object
 17  17      323419 non-null  int64
 18  18      323419 non-null  int64
 19  19      323419 non-null  object
 20  20      323419 non-null  object
 21  21      323419 non-null  object
 22  22      323419 non-null  object
 23  23      323419 non-null  object
 24  24      323419 non-null  object
 25  25      323419 non-null  int64
 26  26      323419 non-null  object
 27  27      323419 non-null  object
 28  28      323419 non-null  object
 29  29      323419 non-null  object
 30  30      323419 non-null  object
 31  31      323419 non-null  object
 32  32      323419 non-null  object
 33  33      323419 non-null  object
 34  34      323419 non-null  object
 35  35      323419 non-null  object
 36  36      323419 non-null  object
 37  37      323419 non-null  object
 38  38      323419 non-null  object
 39  39      323419 non-null  object
 40  40      323419 non-null  int64
 41  41      323419 non-null  object
 42  42      323419 non-null  object
 43  43      323419 non-null  object
 44  44      323419 non-null  object
 45  45      323419 non-null  object
 46  46      323419 non-null  object
dtypes: int64(8), object(39)
memory usage: 116.0+ MB

In [ ]:
df3['Year'] = 2004

In [ ]:
df3.head(2)

,0,1,2,3,4,5,6,7,8,9,...,38,39,40,41,42,43,44,45,46,Year
0,20040101#20004-14225,ATLANTIC,ABSECON CITY,12/07/2004,TU,1038,1,ABSECON,MUNICIPAL COMP?,0,...,,,50,,,,N,NONE ...,830,2004
1,20040101#2004-10356,ATLANTIC,ABSECON CITY,09/03/2004,F,1027,1,ABSECON,MUNICIPAL COMP?,0,...,,,35,,,,N,TRAFFIC LIGHT SIGNAL/LANDSCAPING AT CAR WASH/T...,830,2004

In [ ]:
df_sample3 = df3.copy()

In [ ]:
df_sample3.rename({0: 'Crash_ID', 1:'County Name',2:'Municipality Name',3:'Crash Date',4:'Crash Day of Week',5:'Crash Time',6:'Police Department Code', 7:'Police Department'}, axis=1, inplace=True)

In [ ]:
df_sample3.head(3)

,Crash_ID,County Name,Municipality Name,Crash Date,Crash Day of Week,Crash Time,Police Department Code,Police Department,8,9,...,38,39,40,41,42,43,44,45,46,Year
0,20040101#20004-14225,ATLANTIC,ABSECON CITY,12/07/2004,TU,1038,1,ABSECON,MUNICIPAL COMP?,0,...,,,50,,,,N,NONE ...,830,2004
1,20040101#2004-10356,ATLANTIC,ABSECON CITY,09/03/2004,F,1027,1,ABSECON,MUNICIPAL COMP?,0,...,,,35,,,,N,TRAFFIC LIGHT SIGNAL/LANDSCAPING AT CAR WASH/T...,830,2004
2,20040101#2004-10362,ATLANTIC,ABSECON CITY,09/03/2004,F,1317,1,ABSECON,MUNICIPAL COMP?,0,...,,,35,,,,N,NONE ...,830,2004

In [ ]:
df_sample3.rename({8:'Police Station', 9:'Total Killed', 10:'Total Injured', 11:'Pedestrians Killed', 12:'Pedestrians Injured', 13:'Severity', 14:'Intersection', 15:'Alcohol Involved', 16:'HazMat Involved', 17:'Crash Type Code', 18:'Total Vehicles Involved', 19:'Crash Location'}, axis=1, inplace=True)

In [ ]:
df_sample3[columns2].head(3)

,Police Station,Total Killed,Total Injured,Pedestrians Killed,Pedestrians Injured,Severity,Intersection,Alcohol Involved,HazMat Involved,Crash Type Code,Total Vehicles Involved,Crash Location
0,MUNICIPAL COMP?,0,1,0,0,I,B,N,N,1,2,US 30 ...
1,MUNICIPAL COMP?,0,1,0,0,I,I,N,N,7,2,US 9 ...
2,MUNICIPAL COMP?,0,0,0,0,P,B,N,N,3,2,ATLANTIC COUNTY 651 ...

In [ ]:
df_sample3.rename({20:'Location Direction',21:'Route',22:'Route Suffix',23:'SRI (Standard Route Indentifier)',24:'Mile Post',25:'Road System',26:'Road Character',27:'Road Surface Type',28:'Surface Condition',29:'Light Condition',30:'Enviornmental Condition',31:'Road Divided By',32:'Temporary Traffic Control Zone',33:'Distance to Cross Street',34:'Unit of Measurement',35:'Direction from Cross Street',36:'Cross Street Name',37:'Is Ramp',38:'Ramp To/From Route Name',39:'Ramp To/From Direction'},axis=1,inplace=True)

In [ ]:
df_sample3[columns3].head(3)

,Location Direction,Route,Route Suffix,SRI (Standard Route Indentifier),Mile Post,Road System,Road Character,Road Surface Type,Surface Condition,Light Condition,Enviornmental Condition,Road Divided By,Temporary Traffic Control Zone,Distance to Cross Street,Unit of Measurement,Direction from Cross Street,Cross Street Name,Is Ramp,Ramp To/From Route Name,Ramp To/From Direction
0,,30,,00000030__,54.11,2,04,02,02,01,02,01,01,100,FE,E,CR 646,,,
1,,9,,00000009__,42.74,2,01,02,01,01,01,05,01,,AT,,,,,
2,,651,,01000651__,12.02,5,01,02,01,01,01,05,01,200,FE,N,RT 30,,,

In [ ]:
df_sample3.rename({40:'Posted Speed',41:'Posted Speed Cross Street',42:'Latitude',43:'Longitude',44:'Cell Phone In Use Flag', 45:'Other Property Damage', 46:'Reporting Badge No.'},axis=1,inplace=True)

In [ ]:
df_sample3[columns4].head(3)

,Posted Speed,Posted Speed Cross Street,Latitude,Longitude,Cell Phone In Use Flag,Other Property Damage,Reporting Badge No.
0,50,,,,N,NONE ...,830
1,35,,,,N,TRAFFIC LIGHT SIGNAL/LANDSCAPING AT CAR WASH/T...,830
2,35,,,,N,NONE ...,830

In [ ]:
df_merge3 = df_merge2.append(df_sample3, ignore_index=True)

In [ ]:
df_merge3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1280147 entries, 0 to 1280146
Data columns (total 48 columns):
 #   Column                            Non-Null Count    Dtype
---  ------                            --------------    -----
 0   Crash_ID                          1280147 non-null  object
 1   County Name                       1280147 non-null  object
 2   Municipality Name                 1280147 non-null  object
 3   Crash Date                        1280147 non-null  object
 4   Crash Day of Week                 1280147 non-null  object
 5   Crash Time                        1280147 non-null  object
 6   Police Department Code            1280147 non-null  object
 7   Police Department                 1280147 non-null  object
 8   Police Station                    1280147 non-null  object
 9   Total Killed                      1280147 non-null  int64
 10  Total Injured                     1280147 non-null  float64
 11  Pedestrians Killed                1280147 non-null  float64
 12  Pedestrians Injured               1280147 non-null  float64
 13  Severity                          1280147 non-null  object
 14  Intersection                      1280147 non-null  object
 15  Alcohol Involved                  1280147 non-null  object
 16  HazMat Involved                   1280147 non-null  object
 17  Crash Type Code                   1280147 non-null  int64
 18  Total Vehicles Involved           1280147 non-null  int64
 19  Crash Location                    1280147 non-null  object
 20  Location Direction                1280147 non-null  object
 21  Route                             1280147 non-null  object
 22  Route Suffix                      1280147 non-null  object
 23  SRI (Standard Route Indentifier)  1280147 non-null  object
 24  Mile Post                         1280147 non-null  object
 25  Road System                       1280147 non-null  object
 26  Road Character                    1280147 non-null  object
 27  Road Surface Type                 1280147 non-null  object
 28  Surface Condition                 1280147 non-null  object
 29  Light Condition                   1280147 non-null  object
 30  Enviornmental Condition           1280147 non-null  object
 31  Road Divided By                   1280147 non-null  object
 32  Temporary Traffic Control Zone    1280147 non-null  object
 33  Distance to Cross Street          1280147 non-null  object
 34  Unit of Measurement               1280147 non-null  object
 35  Direction from Cross Street       1280147 non-null  object
 36  Cross Street Name                 1280147 non-null  object
 37  Is Ramp                           1280147 non-null  object
 38  Ramp To/From Route Name           1280147 non-null  object
 39  Ramp To/From Direction            1280147 non-null  object
 40  Posted Speed                      1280147 non-null  int64
 41  Posted Speed Cross Street         1280147 non-null  object
 42  Latitude                          1280147 non-null  object
 43  Longitude                         1280147 non-null  object
 44  Cell Phone In Use Flag            1280147 non-null  object
 45  Other Property Damage             1280147 non-null  object
 46  Reporting Badge No.               1280147 non-null  object
 47  Year                              1280147 non-null  int64
dtypes: float64(3), int64(5), object(40)
memory usage: 468.8+ MB

In [ ]:
df_merge3.tail(3)

,Crash_ID,County Name,Municipality Name,Crash Date,Crash Day of Week,Crash Time,Police Department Code,Police Department,Police Station,Total Killed,...,Ramp To/From Route Name,Ramp To/From Direction,Posted Speed,Posted Speed Cross Street,Latitude,Longitude,Cell Phone In Use Flag,Other Property Damage,Reporting Badge No.,Year
1280144,20042123B?50200400030A,WARREN,WHITE TWP,01/21/2004,W,1937,2,STATE POLICE,WASHINGTON,0,...,,,50,,,,N,...,4269,2004
1280145,20042123OIT-04284737,WARREN,WHITE TWP,11/20/2004,SA,,2,?,?,0,...,,,50,,,,N,? ...,?,2004
1280146,20042123OIT-04305526,WARREN,WHITE TWP,12/04/2004,SA,1130,2,STATE POLICE,WASHINGTON,0,...,,,50,,,,N,...,4596,2004

In [ ]:
df_merge3.head(3)

,Crash_ID,County Name,Municipality Name,Crash Date,Crash Day of Week,Crash Time,Police Department Code,Police Department,Police Station,Total Killed,...,Ramp To/From Route Name,Ramp To/From Direction,Posted Speed,Posted Speed Cross Street,Latitude,Longitude,Cell Phone In Use Flag,Other Property Damage,Reporting Badge No.,Year
0,20010101#2001-17846,ATLANTIC,ABSECON CITY,12/21/2001,F,1834,01,ABSECON CITY,MUNICIPAL COMP?,0,...,,,25,.1,,.1,N.3,NEVER SAW V-1 MINOR DAMAGE - NO INJURIES REPOR...,830,2001
1,2001010101-00029,ATLANTIC,ABSECON CITY,01/01/2001,M,0930,1,ABSECON,,0,...,,,25,,,,N,...,836,2001
2,2001010101-004615,ATLANTIC,ABSECON CITY,04/10/2001,TU,1444,1,ABSECON,,0,...,,,25,,,,N,...,836,2001

In [ ]:
from google.colab import drive

#drive.mount('/content/drive')
#path = '/content/drive/MyDrive/NJ_Mine/Crash, Raw txt Files/NJ_Accidents(2001-2004).csv'

#with open(path, 'w', encoding = 'utf-8-sig') as f:
  #df_merge3.to_csv(f)