In [ ]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/NJ_Mine/Crash, Raw txt Files/NewJersey2005Accidents.txt',sep=',',header=None)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 315434 entries, 0 to 315433
Data columns (total 47 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       315434 non-null  object
 1   1       315434 non-null  object
 2   2       315434 non-null  object
 3   3       315434 non-null  object
 4   4       315434 non-null  object
 5   5       315434 non-null  object
 6   6       315434 non-null  object
 7   7       315434 non-null  object
 8   8       315434 non-null  object
 9   9       315434 non-null  int64
 10  10      315434 non-null  int64
 11  11      315434 non-null  int64
 12  12      315434 non-null  int64
 13  13      315434 non-null  object
 14  14      315434 non-null  object
 15  15      315434 non-null  object
 16  16      315434 non-null  object
 17  17      315434 non-null  int64
 18  18      315434 non-null  int64
 19  19      315434 non-null  object
 20  20      315434 non-null  object
 21  21      315434 non-null  object
 22  22      315434 non-null  object
 23  23      315434 non-null  object
 24  24      315434 non-null  object
 25  25      315434 non-null  int64
 26  26      315434 non-null  object
 27  27      315434 non-null  object
 28  28      315434 non-null  object
 29  29      315434 non-null  object
 30  30      315434 non-null  object
 31  31      315434 non-null  object
 32  32      315434 non-null  object
 33  33      315434 non-null  object
 34  34      315434 non-null  object
 35  35      315434 non-null  object
 36  36      315434 non-null  object
 37  37      315434 non-null  object
 38  38      315434 non-null  object
 39  39      315434 non-null  object
 40  40      315434 non-null  int64
 41  41      315434 non-null  object
 42  42      315434 non-null  object
 43  43      315434 non-null  object
 44  44      315434 non-null  object
 45  45      315434 non-null  object
 46  46      315434 non-null  object
dtypes: int64(8), object(39)
memory usage: 113.1+ MB

In [ ]:
df['Year'] = 2005

In [ ]:
df.head(3)

,0,1,2,3,4,5,6,7,8,9,...,38,39,40,41,42,43,44,45,46,Year
0,20050101#2005-4976,ATLANTIC,ABSECON CITY,05/04/2005,W,2040,1,ABSECON,MUNICIPAL COMP?,0,...,,,25,,,,N,NONE ...,830,2005
1,20050101#2005-5721,ATLANTIC,ABSECON CITY,05/21/2005,SA,1431,1,ABSECON,MUNICIPAL COMP?,0,...,,,35,,,,N,NONE ...,830,2005
2,20050101#2005-5724,ATLANTIC,ABSECON CITY,05/21/2005,SA,1759,1,ABSECON,MUNICIPAL COMP?,0,...,,,25,,,,N,NONE ...,830,2005

In [ ]:
df_sample = df.copy()

In [ ]:
df_sample.rename({0: 'Crash_ID', 1:'County Name',2:'Municipality Name',3:'Crash Date',4:'Crash Day of Week',5:'Crash Time',6:'Police Department Code', 7:'Police Department',
                  8:'Police Station', 9:'Total Killed', 10:'Total Injured', 11:'Pedestrians Killed',12:'Pedestrians Injured', 13:'Severity', 14:'Intersection',
                  15:'Alcohol Involved', 16:'HazMat Involved', 17:'Crash Type Code', 18:'Total Vehicles Involved', 19:'Crash Location',20:'Location Direction',21:'Route',
                  22:'Route Suffix',23:'SRI (Standard Route Indentifier)',24:'Mile Post',25:'Road System',26:'Road Character',27:'Road Surface Type',28:'Surface Condition',
                  29:'Light Condition',30:'Enviornmental Condition',31:'Road Divided By',32:'Temporary Traffic Control Zone',33:'Distance to Cross Street',
                  34:'Unit of Measurement',35:'Direction from Cross Street',36:'Cross Street Name',37:'Is Ramp',38:'Ramp To/From Route Name',39:'Ramp To/From Direction',
                  40:'Posted Speed',41:'Posted Speed Cross Street',42:'Latitude',43:'Longitude',44:'Cell Phone In Use Flag', 45:'Other Property Damage', 46:'Reporting Badge No.'},
                  axis = 1, inplace=True
)

In [ ]:
df_sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 315434 entries, 0 to 315433
Data columns (total 48 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   Crash_ID                          315434 non-null  object
 1   County Name                       315434 non-null  object
 2   Municipality Name                 315434 non-null  object
 3   Crash Date                        315434 non-null  object
 4   Crash Day of Week                 315434 non-null  object
 5   Crash Time                        315434 non-null  object
 6   Police Department Code            315434 non-null  object
 7   Police Department                 315434 non-null  object
 8   Police Station                    315434 non-null  object
 9   Total Killed                      315434 non-null  int64
 10  Total Injured                     315434 non-null  int64
 11  Pedestrians Killed                315434 non-null  int64
 12  Pedestrians Injured               315434 non-null  int64
 13  Severity                          315434 non-null  object
 14  Intersection                      315434 non-null  object
 15  Alcohol Involved                  315434 non-null  object
 16  HazMat Involved                   315434 non-null  object
 17  Crash Type Code                   315434 non-null  int64
 18  Total Vehicles Involved           315434 non-null  int64
 19  Crash Location                    315434 non-null  object
 20  Location Direction                315434 non-null  object
 21  Route                             315434 non-null  object
 22  Route Suffix                      315434 non-null  object
 23  SRI (Standard Route Indentifier)  315434 non-null  object
 24  Mile Post                         315434 non-null  object
 25  Road System                       315434 non-null  int64
 26  Road Character                    315434 non-null  object
 27  Road Surface Type                 315434 non-null  object
 28  Surface Condition                 315434 non-null  object
 29  Light Condition                   315434 non-null  object
 30  Enviornmental Condition           315434 non-null  object
 31  Road Divided By                   315434 non-null  object
 32  Temporary Traffic Control Zone    315434 non-null  object
 33  Distance to Cross Street          315434 non-null  object
 34  Unit of Measurement               315434 non-null  object
 35  Direction from Cross Street       315434 non-null  object
 36  Cross Street Name                 315434 non-null  object
 37  Is Ramp                           315434 non-null  object
 38  Ramp To/From Route Name           315434 non-null  object
 39  Ramp To/From Direction            315434 non-null  object
 40  Posted Speed                      315434 non-null  int64
 41  Posted Speed Cross Street         315434 non-null  object
 42  Latitude                          315434 non-null  object
 43  Longitude                         315434 non-null  object
 44  Cell Phone In Use Flag            315434 non-null  object
 45  Other Property Damage             315434 non-null  object
 46  Reporting Badge No.               315434 non-null  object
 47  Year                              315434 non-null  int64
dtypes: int64(9), object(39)
memory usage: 115.5+ MB

In [ ]:
df_sample.head(3)

,Crash_ID,County Name,Municipality Name,Crash Date,Crash Day of Week,Crash Time,Police Department Code,Police Department,Police Station,Total Killed,...,Ramp To/From Route Name,Ramp To/From Direction,Posted Speed,Posted Speed Cross Street,Latitude,Longitude,Cell Phone In Use Flag,Other Property Damage,Reporting Badge No.,Year
0,20050101#2005-4976,ATLANTIC,ABSECON CITY,05/04/2005,W,2040,1,ABSECON,MUNICIPAL COMP?,0,...,,,25,,,,N,NONE ...,830,2005
1,20050101#2005-5721,ATLANTIC,ABSECON CITY,05/21/2005,SA,1431,1,ABSECON,MUNICIPAL COMP?,0,...,,,35,,,,N,NONE ...,830,2005
2,20050101#2005-5724,ATLANTIC,ABSECON CITY,05/21/2005,SA,1759,1,ABSECON,MUNICIPAL COMP?,0,...,,,25,,,,N,NONE ...,830,2005

In [ ]:
df1 = pd.read_csv('/content/drive/MyDrive/NJ_Mine/Crash, Raw txt Files/NewJersey2006Accidents.txt', sep=',', header=None)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (30) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 295546 entries, 0 to 295545
Data columns (total 47 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       295546 non-null  object
 1   1       295546 non-null  object
 2   2       295546 non-null  object
 3   3       295546 non-null  object
 4   4       295546 non-null  object
 5   5       295546 non-null  object
 6   6       295546 non-null  object
 7   7       295546 non-null  object
 8   8       295546 non-null  object
 9   9       295546 non-null  int64
 10  10      295546 non-null  int64
 11  11      295546 non-null  int64
 12  12      295546 non-null  int64
 13  13      295546 non-null  object
 14  14      295546 non-null  object
 15  15      295546 non-null  object
 16  16      295546 non-null  object
 17  17      295546 non-null  object
 18  18      295546 non-null  int64
 19  19      295546 non-null  object
 20  20      295546 non-null  object
 21  21      295546 non-null  object
 22  22      295546 non-null  object
 23  23      295546 non-null  object
 24  24      295546 non-null  object
 25  25      295546 non-null  int64
 26  26      295546 non-null  object
 27  27      295546 non-null  object
 28  28      295546 non-null  object
 29  29      295546 non-null  object
 30  30      295546 non-null  object
 31  31      295546 non-null  object
 32  32      295546 non-null  object
 33  33      295546 non-null  object
 34  34      295546 non-null  object
 35  35      295546 non-null  object
 36  36      295546 non-null  object
 37  37      295546 non-null  object
 38  38      295546 non-null  object
 39  39      295546 non-null  object
 40  40      295546 non-null  int64
 41  41      295546 non-null  object
 42  42      295546 non-null  object
 43  43      295546 non-null  object
 44  44      295546 non-null  object
 45  45      295546 non-null  object
 46  46      295546 non-null  object
dtypes: int64(7), object(40)
memory usage: 106.0+ MB

In [ ]:
df1['Year'] = 2006

In [ ]:
df_sample1 = df1.copy()

In [ ]:
df_sample1.rename({0: 'Crash_ID', 1:'County Name',2:'Municipality Name',3:'Crash Date',4:'Crash Day of Week',5:'Crash Time',6:'Police Department Code', 7:'Police Department',
                  8:'Police Station', 9:'Total Killed', 10:'Total Injured', 11:'Pedestrians Killed',12:'Pedestrians Injured', 13:'Severity', 14:'Intersection',
                  15:'Alcohol Involved', 16:'HazMat Involved', 17:'Crash Type Code', 18:'Total Vehicles Involved', 19:'Crash Location',20:'Location Direction',21:'Route',
                  22:'Route Suffix',23:'SRI (Standard Route Indentifier)',24:'Mile Post',25:'Road System',26:'Road Character',27:'Road Surface Type',28:'Surface Condition',
                  29:'Light Condition',30:'Enviornmental Condition',31:'Road Divided By',32:'Temporary Traffic Control Zone',33:'Distance to Cross Street',
                  34:'Unit of Measurement',35:'Direction from Cross Street',36:'Cross Street Name',37:'Is Ramp',38:'Ramp To/From Route Name',39:'Ramp To/From Direction',
                  40:'Posted Speed',41:'Posted Speed Cross Street',42:'Latitude',43:'Longitude',44:'Cell Phone In Use Flag', 45:'Other Property Damage', 46:'Reporting Badge No.'},
                  axis = 1, inplace=True
)

In [ ]:
df_sample1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 295546 entries, 0 to 295545
Data columns (total 48 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   Crash_ID                          295546 non-null  object
 1   County Name                       295546 non-null  object
 2   Municipality Name                 295546 non-null  object
 3   Crash Date                        295546 non-null  object
 4   Crash Day of Week                 295546 non-null  object
 5   Crash Time                        295546 non-null  object
 6   Police Department Code            295546 non-null  object
 7   Police Department                 295546 non-null  object
 8   Police Station                    295546 non-null  object
 9   Total Killed                      295546 non-null  int64
 10  Total Injured                     295546 non-null  int64
 11  Pedestrians Killed                295546 non-null  int64
 12  Pedestrians Injured               295546 non-null  int64
 13  Severity                          295546 non-null  object
 14  Intersection                      295546 non-null  object
 15  Alcohol Involved                  295546 non-null  object
 16  HazMat Involved                   295546 non-null  object
 17  Crash Type Code                   295546 non-null  object
 18  Total Vehicles Involved           295546 non-null  int64
 19  Crash Location                    295546 non-null  object
 20  Location Direction                295546 non-null  object
 21  Route                             295546 non-null  object
 22  Route Suffix                      295546 non-null  object
 23  SRI (Standard Route Indentifier)  295546 non-null  object
 24  Mile Post                         295546 non-null  object
 25  Road System                       295546 non-null  int64
 26  Road Character                    295546 non-null  object
 27  Road Surface Type                 295546 non-null  object
 28  Surface Condition                 295546 non-null  object
 29  Light Condition                   295546 non-null  object
 30  Enviornmental Condition           295546 non-null  object
 31  Road Divided By                   295546 non-null  object
 32  Temporary Traffic Control Zone    295546 non-null  object
 33  Distance to Cross Street          295546 non-null  object
 34  Unit of Measurement               295546 non-null  object
 35  Direction from Cross Street       295546 non-null  object
 36  Cross Street Name                 295546 non-null  object
 37  Is Ramp                           295546 non-null  object
 38  Ramp To/From Route Name           295546 non-null  object
 39  Ramp To/From Direction            295546 non-null  object
 40  Posted Speed                      295546 non-null  int64
 41  Posted Speed Cross Street         295546 non-null  object
 42  Latitude                          295546 non-null  object
 43  Longitude                         295546 non-null  object
 44  Cell Phone In Use Flag            295546 non-null  object
 45  Other Property Damage             295546 non-null  object
 46  Reporting Badge No.               295546 non-null  object
 47  Year                              295546 non-null  int64
dtypes: int64(8), object(40)
memory usage: 108.2+ MB

In [ ]:
df_sample1.head(2)

,Crash_ID,County Name,Municipality Name,Crash Date,Crash Day of Week,Crash Time,Police Department Code,Police Department,Police Station,Total Killed,...,Ramp To/From Route Name,Ramp To/From Direction,Posted Speed,Posted Speed Cross Street,Latitude,Longitude,Cell Phone In Use Flag,Other Property Damage,Reporting Badge No.,Year
0,2006010106-034793,ATLANTIC,ABSECON CITY,03/24/2006,F,1629,01,ATLANTIC CITY,TRAFFIC,0,...,,,50,,39.39463,74.49178,N,...,617,2006
1,2006010106-051065,ATLANTIC,ABSECON CITY,04/29/2006,SA,1254,01,ATLANTIC CITY,AIU,0,...,,,0,,,,N,? ...,304,2006

In [ ]:
df2 = pd.read_csv('/content/drive/MyDrive/NJ_Mine/Crash, Raw txt Files/NewJersey2007Accidents.txt',sep=',',header=None)

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306816 entries, 0 to 306815
Data columns (total 47 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       306816 non-null  object
 1   1       306816 non-null  object
 2   2       306816 non-null  object
 3   3       306816 non-null  object
 4   4       306816 non-null  object
 5   5       306816 non-null  object
 6   6       306816 non-null  object
 7   7       306816 non-null  object
 8   8       306816 non-null  object
 9   9       306816 non-null  int64
 10  10      306816 non-null  int64
 11  11      306816 non-null  int64
 12  12      306816 non-null  int64
 13  13      306816 non-null  object
 14  14      306816 non-null  object
 15  15      306816 non-null  object
 16  16      306816 non-null  object
 17  17      306816 non-null  object
 18  18      306816 non-null  int64
 19  19      306816 non-null  object
 20  20      306816 non-null  object
 21  21      306816 non-null  object
 22  22      306816 non-null  object
 23  23      306816 non-null  object
 24  24      306816 non-null  object
 25  25      306816 non-null  int64
 26  26      306816 non-null  object
 27  27      306816 non-null  object
 28  28      306816 non-null  object
 29  29      306816 non-null  object
 30  30      306816 non-null  object
 31  31      306816 non-null  object
 32  32      306816 non-null  object
 33  33      306816 non-null  object
 34  34      306816 non-null  object
 35  35      306816 non-null  object
 36  36      306816 non-null  object
 37  37      306816 non-null  object
 38  38      306816 non-null  object
 39  39      306816 non-null  object
 40  40      306816 non-null  int64
 41  41      306816 non-null  object
 42  42      306816 non-null  object
 43  43      306816 non-null  object
 44  44      306816 non-null  object
 45  45      306816 non-null  object
 46  46      306816 non-null  object
dtypes: int64(7), object(40)
memory usage: 110.0+ MB

In [ ]:
df2['Year']=2007

In [ ]:
df_sample2 = df2.copy()

In [ ]:
df_sample2.rename({0: 'Crash_ID', 1:'County Name',2:'Municipality Name',3:'Crash Date',4:'Crash Day of Week',5:'Crash Time',6:'Police Department Code', 7:'Police Department',
                  8:'Police Station', 9:'Total Killed', 10:'Total Injured', 11:'Pedestrians Killed',12:'Pedestrians Injured', 13:'Severity', 14:'Intersection',
                  15:'Alcohol Involved', 16:'HazMat Involved', 17:'Crash Type Code', 18:'Total Vehicles Involved', 19:'Crash Location',20:'Location Direction',21:'Route',
                  22:'Route Suffix',23:'SRI (Standard Route Indentifier)',24:'Mile Post',25:'Road System',26:'Road Character',27:'Road Surface Type',28:'Surface Condition',
                  29:'Light Condition',30:'Enviornmental Condition',31:'Road Divided By',32:'Temporary Traffic Control Zone',33:'Distance to Cross Street',
                  34:'Unit of Measurement',35:'Direction from Cross Street',36:'Cross Street Name',37:'Is Ramp',38:'Ramp To/From Route Name',39:'Ramp To/From Direction',
                  40:'Posted Speed',41:'Posted Speed Cross Street',42:'Latitude',43:'Longitude',44:'Cell Phone In Use Flag', 45:'Other Property Damage', 46:'Reporting Badge No.'},
                  axis = 1, inplace=True
)

In [ ]:
df_sample2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306816 entries, 0 to 306815
Data columns (total 48 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   Crash_ID                          306816 non-null  object
 1   County Name                       306816 non-null  object
 2   Municipality Name                 306816 non-null  object
 3   Crash Date                        306816 non-null  object
 4   Crash Day of Week                 306816 non-null  object
 5   Crash Time                        306816 non-null  object
 6   Police Department Code            306816 non-null  object
 7   Police Department                 306816 non-null  object
 8   Police Station                    306816 non-null  object
 9   Total Killed                      306816 non-null  int64
 10  Total Injured                     306816 non-null  int64
 11  Pedestrians Killed                306816 non-null  int64
 12  Pedestrians Injured               306816 non-null  int64
 13  Severity                          306816 non-null  object
 14  Intersection                      306816 non-null  object
 15  Alcohol Involved                  306816 non-null  object
 16  HazMat Involved                   306816 non-null  object
 17  Crash Type Code                   306816 non-null  object
 18  Total Vehicles Involved           306816 non-null  int64
 19  Crash Location                    306816 non-null  object
 20  Location Direction                306816 non-null  object
 21  Route                             306816 non-null  object
 22  Route Suffix                      306816 non-null  object
 23  SRI (Standard Route Indentifier)  306816 non-null  object
 24  Mile Post                         306816 non-null  object
 25  Road System                       306816 non-null  int64
 26  Road Character                    306816 non-null  object
 27  Road Surface Type                 306816 non-null  object
 28  Surface Condition                 306816 non-null  object
 29  Light Condition                   306816 non-null  object
 30  Enviornmental Condition           306816 non-null  object
 31  Road Divided By                   306816 non-null  object
 32  Temporary Traffic Control Zone    306816 non-null  object
 33  Distance to Cross Street          306816 non-null  object
 34  Unit of Measurement               306816 non-null  object
 35  Direction from Cross Street       306816 non-null  object
 36  Cross Street Name                 306816 non-null  object
 37  Is Ramp                           306816 non-null  object
 38  Ramp To/From Route Name           306816 non-null  object
 39  Ramp To/From Direction            306816 non-null  object
 40  Posted Speed                      306816 non-null  int64
 41  Posted Speed Cross Street         306816 non-null  object
 42  Latitude                          306816 non-null  object
 43  Longitude                         306816 non-null  object
 44  Cell Phone In Use Flag            306816 non-null  object
 45  Other Property Damage             306816 non-null  object
 46  Reporting Badge No.               306816 non-null  object
 47  Year                              306816 non-null  int64
dtypes: int64(8), object(40)
memory usage: 112.4+ MB

In [ ]:
df_sample2.head(3)

,Crash_ID,County Name,Municipality Name,Crash Date,Crash Day of Week,Crash Time,Police Department Code,Police Department,Police Station,Total Killed,...,Ramp To/From Route Name,Ramp To/From Direction,Posted Speed,Posted Speed Cross Street,Latitude,Longitude,Cell Phone In Use Flag,Other Property Damage,Reporting Badge No.,Year
0,2007010107-018522,ATLANTIC,ABSECON CITY,02/15/2007,TH,1613,01,ATLANTIC CITY,TRAFFIC,0,...,,,50,,39.39739,74.49257,N,NONE ...,630,2007
1,2007010107-046478,ATLANTIC,ABSECON CITY,04/25/2007,W,0946,01,ATLANTIC CITY,ACCIDENT BUREAU,0,...,,,45,,39.40319,74.49218,N,...,619,2007
2,2007010107-052297,ATLANTIC,ABSECON CITY,05/08/2007,TU,1015,01,ATLANTIC CITY,AIU,0,...,,,50,40,39.39242,74.48964,N,NONE ...,530,2007

In [ ]:
df3 = pd.read_csv('/content/drive/MyDrive/NJ_Mine/Crash, Raw txt Files/NewJersey2008Accidents.txt',sep=',',header=None)

In [ ]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303013 entries, 0 to 303012
Data columns (total 47 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       303013 non-null  object
 1   1       303013 non-null  object
 2   2       303013 non-null  object
 3   3       303013 non-null  object
 4   4       303013 non-null  object
 5   5       303013 non-null  object
 6   6       303013 non-null  object
 7   7       303013 non-null  object
 8   8       303013 non-null  object
 9   9       303013 non-null  int64
 10  10      303013 non-null  int64
 11  11      303013 non-null  int64
 12  12      303013 non-null  int64
 13  13      303013 non-null  object
 14  14      303013 non-null  object
 15  15      303013 non-null  object
 16  16      303013 non-null  object
 17  17      303013 non-null  object
 18  18      303013 non-null  int64
 19  19      303013 non-null  object
 20  20      303013 non-null  object
 21  21      303013 non-null  object
 22  22      303013 non-null  object
 23  23      303013 non-null  object
 24  24      303013 non-null  object
 25  25      303013 non-null  int64
 26  26      303013 non-null  object
 27  27      303013 non-null  object
 28  28      303013 non-null  object
 29  29      303013 non-null  object
 30  30      303013 non-null  object
 31  31      303013 non-null  object
 32  32      303013 non-null  object
 33  33      303013 non-null  object
 34  34      303013 non-null  object
 35  35      303013 non-null  object
 36  36      303013 non-null  object
 37  37      303013 non-null  object
 38  38      303013 non-null  object
 39  39      303013 non-null  object
 40  40      303013 non-null  int64
 41  41      303013 non-null  object
 42  42      303013 non-null  object
 43  43      303013 non-null  object
 44  44      303013 non-null  object
 45  45      303013 non-null  object
 46  46      303013 non-null  object
dtypes: int64(7), object(40)
memory usage: 108.7+ MB

In [ ]:
df3['Year']=2008

In [ ]:
df_sample3=df3.copy()

In [ ]:
df_sample3.rename({0: 'Crash_ID', 1:'County Name',2:'Municipality Name',3:'Crash Date',4:'Crash Day of Week',5:'Crash Time',6:'Police Department Code', 7:'Police Department',
                  8:'Police Station', 9:'Total Killed', 10:'Total Injured', 11:'Pedestrians Killed',12:'Pedestrians Injured', 13:'Severity', 14:'Intersection',
                  15:'Alcohol Involved', 16:'HazMat Involved', 17:'Crash Type Code', 18:'Total Vehicles Involved', 19:'Crash Location',20:'Location Direction',21:'Route',
                  22:'Route Suffix',23:'SRI (Standard Route Indentifier)',24:'Mile Post',25:'Road System',26:'Road Character',27:'Road Surface Type',28:'Surface Condition',
                  29:'Light Condition',30:'Enviornmental Condition',31:'Road Divided By',32:'Temporary Traffic Control Zone',33:'Distance to Cross Street',
                  34:'Unit of Measurement',35:'Direction from Cross Street',36:'Cross Street Name',37:'Is Ramp',38:'Ramp To/From Route Name',39:'Ramp To/From Direction',
                  40:'Posted Speed',41:'Posted Speed Cross Street',42:'Latitude',43:'Longitude',44:'Cell Phone In Use Flag', 45:'Other Property Damage', 46:'Reporting Badge No.'},
                  axis = 1, inplace=True
)

In [ ]:
df_sample3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303013 entries, 0 to 303012
Data columns (total 48 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   Crash_ID                          303013 non-null  object
 1   County Name                       303013 non-null  object
 2   Municipality Name                 303013 non-null  object
 3   Crash Date                        303013 non-null  object
 4   Crash Day of Week                 303013 non-null  object
 5   Crash Time                        303013 non-null  object
 6   Police Department Code            303013 non-null  object
 7   Police Department                 303013 non-null  object
 8   Police Station                    303013 non-null  object
 9   Total Killed                      303013 non-null  int64
 10  Total Injured                     303013 non-null  int64
 11  Pedestrians Killed                303013 non-null  int64
 12  Pedestrians Injured               303013 non-null  int64
 13  Severity                          303013 non-null  object
 14  Intersection                      303013 non-null  object
 15  Alcohol Involved                  303013 non-null  object
 16  HazMat Involved                   303013 non-null  object
 17  Crash Type Code                   303013 non-null  object
 18  Total Vehicles Involved           303013 non-null  int64
 19  Crash Location                    303013 non-null  object
 20  Location Direction                303013 non-null  object
 21  Route                             303013 non-null  object
 22  Route Suffix                      303013 non-null  object
 23  SRI (Standard Route Indentifier)  303013 non-null  object
 24  Mile Post                         303013 non-null  object
 25  Road System                       303013 non-null  int64
 26  Road Character                    303013 non-null  object
 27  Road Surface Type                 303013 non-null  object
 28  Surface Condition                 303013 non-null  object
 29  Light Condition                   303013 non-null  object
 30  Enviornmental Condition           303013 non-null  object
 31  Road Divided By                   303013 non-null  object
 32  Temporary Traffic Control Zone    303013 non-null  object
 33  Distance to Cross Street          303013 non-null  object
 34  Unit of Measurement               303013 non-null  object
 35  Direction from Cross Street       303013 non-null  object
 36  Cross Street Name                 303013 non-null  object
 37  Is Ramp                           303013 non-null  object
 38  Ramp To/From Route Name           303013 non-null  object
 39  Ramp To/From Direction            303013 non-null  object
 40  Posted Speed                      303013 non-null  int64
 41  Posted Speed Cross Street         303013 non-null  object
 42  Latitude                          303013 non-null  object
 43  Longitude                         303013 non-null  object
 44  Cell Phone In Use Flag            303013 non-null  object
 45  Other Property Damage             303013 non-null  object
 46  Reporting Badge No.               303013 non-null  object
 47  Year                              303013 non-null  int64
dtypes: int64(8), object(40)
memory usage: 111.0+ MB

In [ ]:
df_sample3.head(3)

,Crash_ID,County Name,Municipality Name,Crash Date,Crash Day of Week,Crash Time,Police Department Code,Police Department,Police Station,Total Killed,...,Ramp To/From Route Name,Ramp To/From Direction,Posted Speed,Posted Speed Cross Street,Latitude,Longitude,Cell Phone In Use Flag,Other Property Damage,Reporting Badge No.,Year
0,2008010108-026816,ATLANTIC,ABSECON CITY,03/04/2008,TU,1539,01,ATLANTIC CITY,AIU,0,...,,,50,,39.41158,74.49162,N,NONE ...,384,2008
1,2008010108-163190,ATLANTIC,ABSECON CITY,12/19/2008,F,1114,01,ATLANTIC CITY,TRAFFIC,0,...,,,50,,39.39231,74.48952,N,NONE ...,739,2008
2,2008010108-24779,ATLANTIC,ABSECON CITY,11/25/2008,TU,0345,99,NJ TRANSIT P.D.,ATLANTIC CITY,0,...,,,10,25,,,N,? ...,0053,2008

In [ ]:
df4 = pd.read_csv('/content/drive/MyDrive/NJ_Mine/Crash, Raw txt Files/NewJersey2009Accidents.txt',sep=',',header=None)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301233 entries, 0 to 301232
Data columns (total 47 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       301233 non-null  object
 1   1       301233 non-null  object
 2   2       301233 non-null  object
 3   3       301233 non-null  object
 4   4       301233 non-null  object
 5   5       301233 non-null  object
 6   6       301233 non-null  object
 7   7       301233 non-null  object
 8   8       301233 non-null  object
 9   9       301233 non-null  int64
 10  10      301233 non-null  int64
 11  11      301233 non-null  int64
 12  12      301233 non-null  int64
 13  13      301233 non-null  object
 14  14      301233 non-null  object
 15  15      301233 non-null  object
 16  16      301233 non-null  object
 17  17      301233 non-null  object
 18  18      301233 non-null  int64
 19  19      301233 non-null  object
 20  20      301233 non-null  object
 21  21      301233 non-null  object
 22  22      301233 non-null  object
 23  23      301233 non-null  object
 24  24      301233 non-null  object
 25  25      301233 non-null  int64
 26  26      301233 non-null  object
 27  27      301233 non-null  object
 28  28      301233 non-null  object
 29  29      301233 non-null  object
 30  30      301233 non-null  object
 31  31      301233 non-null  object
 32  32      301233 non-null  object
 33  33      301233 non-null  object
 34  34      301233 non-null  object
 35  35      301233 non-null  object
 36  36      301233 non-null  object
 37  37      301233 non-null  object
 38  38      301233 non-null  object
 39  39      301233 non-null  object
 40  40      301233 non-null  int64
 41  41      301233 non-null  object
 42  42      301233 non-null  object
 43  43      301233 non-null  object
 44  44      301233 non-null  object
 45  45      301233 non-null  object
 46  46      301233 non-null  object
dtypes: int64(7), object(40)
memory usage: 108.0+ MB

In [ ]:
df4['Year']=2009

In [ ]:
df_sample4 = df4.copy()

In [ ]:
df_sample4.rename({0: 'Crash_ID', 1:'County Name',2:'Municipality Name',3:'Crash Date',4:'Crash Day of Week',5:'Crash Time',6:'Police Department Code', 7:'Police Department',
                  8:'Police Station', 9:'Total Killed', 10:'Total Injured', 11:'Pedestrians Killed',12:'Pedestrians Injured', 13:'Severity', 14:'Intersection',
                  15:'Alcohol Involved', 16:'HazMat Involved', 17:'Crash Type Code', 18:'Total Vehicles Involved', 19:'Crash Location',20:'Location Direction',21:'Route',
                  22:'Route Suffix',23:'SRI (Standard Route Indentifier)',24:'Mile Post',25:'Road System',26:'Road Character',27:'Road Surface Type',28:'Surface Condition',
                  29:'Light Condition',30:'Enviornmental Condition',31:'Road Divided By',32:'Temporary Traffic Control Zone',33:'Distance to Cross Street',
                  34:'Unit of Measurement',35:'Direction from Cross Street',36:'Cross Street Name',37:'Is Ramp',38:'Ramp To/From Route Name',39:'Ramp To/From Direction',
                  40:'Posted Speed',41:'Posted Speed Cross Street',42:'Latitude',43:'Longitude',44:'Cell Phone In Use Flag', 45:'Other Property Damage', 46:'Reporting Badge No.'},
                  axis = 1, inplace=True
)

In [ ]:
df_sample4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301233 entries, 0 to 301232
Data columns (total 48 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   Crash_ID                          301233 non-null  object
 1   County Name                       301233 non-null  object
 2   Municipality Name                 301233 non-null  object
 3   Crash Date                        301233 non-null  object
 4   Crash Day of Week                 301233 non-null  object
 5   Crash Time                        301233 non-null  object
 6   Police Department Code            301233 non-null  object
 7   Police Department                 301233 non-null  object
 8   Police Station                    301233 non-null  object
 9   Total Killed                      301233 non-null  int64
 10  Total Injured                     301233 non-null  int64
 11  Pedestrians Killed                301233 non-null  int64
 12  Pedestrians Injured               301233 non-null  int64
 13  Severity                          301233 non-null  object
 14  Intersection                      301233 non-null  object
 15  Alcohol Involved                  301233 non-null  object
 16  HazMat Involved                   301233 non-null  object
 17  Crash Type Code                   301233 non-null  object
 18  Total Vehicles Involved           301233 non-null  int64
 19  Crash Location                    301233 non-null  object
 20  Location Direction                301233 non-null  object
 21  Route                             301233 non-null  object
 22  Route Suffix                      301233 non-null  object
 23  SRI (Standard Route Indentifier)  301233 non-null  object
 24  Mile Post                         301233 non-null  object
 25  Road System                       301233 non-null  int64
 26  Road Character                    301233 non-null  object
 27  Road Surface Type                 301233 non-null  object
 28  Surface Condition                 301233 non-null  object
 29  Light Condition                   301233 non-null  object
 30  Enviornmental Condition           301233 non-null  object
 31  Road Divided By                   301233 non-null  object
 32  Temporary Traffic Control Zone    301233 non-null  object
 33  Distance to Cross Street          301233 non-null  object
 34  Unit of Measurement               301233 non-null  object
 35  Direction from Cross Street       301233 non-null  object
 36  Cross Street Name                 301233 non-null  object
 37  Is Ramp                           301233 non-null  object
 38  Ramp To/From Route Name           301233 non-null  object
 39  Ramp To/From Direction            301233 non-null  object
 40  Posted Speed                      301233 non-null  int64
 41  Posted Speed Cross Street         301233 non-null  object
 42  Latitude                          301233 non-null  object
 43  Longitude                         301233 non-null  object
 44  Cell Phone In Use Flag            301233 non-null  object
 45  Other Property Damage             301233 non-null  object
 46  Reporting Badge No.               301233 non-null  object
 47  Year                              301233 non-null  int64
dtypes: int64(8), object(40)
memory usage: 110.3+ MB

In [ ]:
df_sample4.head(3)

,Crash_ID,County Name,Municipality Name,Crash Date,Crash Day of Week,Crash Time,Police Department Code,Police Department,Police Station,Total Killed,...,Ramp To/From Route Name,Ramp To/From Direction,Posted Speed,Posted Speed Cross Street,Latitude,Longitude,Cell Phone In Use Flag,Other Property Damage,Reporting Badge No.,Year
0,2009010109-14497,ATLANTIC,ABSECON CITY,10/20/2009,TU,1648,01,EAST WINDSOR TWP PD,TRAFFIC UNIT,0,...,,,0,,,,N,NONE ...,551,2009
1,2009010109-2898,ATLANTIC,ABSECON CITY,11/07/2009,SA,1611,01,BLOOMINGDALE BORO PD,,0,...,,,35,35,,,N,? ...,10,2009
2,200901012009-34176,ATLANTIC,ABSECON CITY,07/30/2009,TH,1133,01,PLEASANTVILLE PD,,0,...,,,35,25,39.41585,74.51177,N,...,744,2009

In [ ]:
dfm = df_sample.append([df_sample1,df_sample2,df_sample3,df_sample4],ignore_index=True)

In [ ]:
dfm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1522042 entries, 0 to 1522041
Data columns (total 48 columns):
 #   Column                            Non-Null Count    Dtype
---  ------                            --------------    -----
 0   Crash_ID                          1522042 non-null  object
 1   County Name                       1522042 non-null  object
 2   Municipality Name                 1522042 non-null  object
 3   Crash Date                        1522042 non-null  object
 4   Crash Day of Week                 1522042 non-null  object
 5   Crash Time                        1522042 non-null  object
 6   Police Department Code            1522042 non-null  object
 7   Police Department                 1522042 non-null  object
 8   Police Station                    1522042 non-null  object
 9   Total Killed                      1522042 non-null  int64
 10  Total Injured                     1522042 non-null  int64
 11  Pedestrians Killed                1522042 non-null  int64
 12  Pedestrians Injured               1522042 non-null  int64
 13  Severity                          1522042 non-null  object
 14  Intersection                      1522042 non-null  object
 15  Alcohol Involved                  1522042 non-null  object
 16  HazMat Involved                   1522042 non-null  object
 17  Crash Type Code                   1522042 non-null  object
 18  Total Vehicles Involved           1522042 non-null  int64
 19  Crash Location                    1522042 non-null  object
 20  Location Direction                1522042 non-null  object
 21  Route                             1522042 non-null  object
 22  Route Suffix                      1522042 non-null  object
 23  SRI (Standard Route Indentifier)  1522042 non-null  object
 24  Mile Post                         1522042 non-null  object
 25  Road System                       1522042 non-null  int64
 26  Road Character                    1522042 non-null  object
 27  Road Surface Type                 1522042 non-null  object
 28  Surface Condition                 1522042 non-null  object
 29  Light Condition                   1522042 non-null  object
 30  Enviornmental Condition           1522042 non-null  object
 31  Road Divided By                   1522042 non-null  object
 32  Temporary Traffic Control Zone    1522042 non-null  object
 33  Distance to Cross Street          1522042 non-null  object
 34  Unit of Measurement               1522042 non-null  object
 35  Direction from Cross Street       1522042 non-null  object
 36  Cross Street Name                 1522042 non-null  object
 37  Is Ramp                           1522042 non-null  object
 38  Ramp To/From Route Name           1522042 non-null  object
 39  Ramp To/From Direction            1522042 non-null  object
 40  Posted Speed                      1522042 non-null  int64
 41  Posted Speed Cross Street         1522042 non-null  object
 42  Latitude                          1522042 non-null  object
 43  Longitude                         1522042 non-null  object
 44  Cell Phone In Use Flag            1522042 non-null  object
 45  Other Property Damage             1522042 non-null  object
 46  Reporting Badge No.               1522042 non-null  object
 47  Year                              1522042 non-null  int64
dtypes: int64(8), object(40)
memory usage: 557.4+ MB

In [ ]:
dfm.tail(3)

,Crash_ID,County Name,Municipality Name,Crash Date,Crash Day of Week,Crash Time,Police Department Code,Police Department,Police Station,Total Killed,...,Ramp To/From Route Name,Ramp To/From Direction,Posted Speed,Posted Speed Cross Street,Latitude,Longitude,Cell Phone In Use Flag,Other Property Damage,Reporting Badge No.,Year
1522039,20092123B150200953A,WARREN,WHITE TWP,01/29/2009,TH,1010,02,NEW JERSEY STATE POLICE,WASHINGTON,0,...,,,50,,40.85546,75.02003,N,...,6576,2009
1522040,20092123E15-2009-00001P,WARREN,WHITE TWP,01/07/2009,W,1235,02,NEW JERSEY STATE POLICE,WASHINGTON B150,0,...,,,0,,,,N,...,7073,2009
1522041,20092123OIT-09166343,WARREN,WHITE TWP,07/19/2009,S,1540,02,NEW JERSEY STATE POLICE,WASHINGTON,0,...,,,45,,40.83479,75.01143,N,...,6384,2009

In [ ]:
from google.colab import drive

#drive.mount('/content/drive')
path = '/content/drive/MyDrive/NJ_Clean Data/NJ_Accidents(2005-2009).csv'

with open(path, 'w', encoding = 'utf-8-sig') as f:
  dfm.to_csv(f)