In [ ]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/NJ_Mine/Crash, Raw txt Files/NewJersey2010Accidents.txt',encoding='mac_roman',sep=',',header=None)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299575 entries, 0 to 299574
Data columns (total 47 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       299575 non-null  object
 1   1       299575 non-null  object
 2   2       299575 non-null  object
 3   3       299575 non-null  object
 4   4       299575 non-null  object
 5   5       299575 non-null  object
 6   6       299575 non-null  object
 7   7       299575 non-null  object
 8   8       299575 non-null  object
 9   9       299575 non-null  int64
 10  10      299575 non-null  int64
 11  11      299575 non-null  int64
 12  12      299575 non-null  int64
 13  13      299575 non-null  object
 14  14      299575 non-null  object
 15  15      299575 non-null  object
 16  16      299575 non-null  object
 17  17      299575 non-null  object
 18  18      299575 non-null  int64
 19  19      299575 non-null  object
 20  20      299575 non-null  object
 21  21      299575 non-null  object
 22  22      299575 non-null  object
 23  23      299575 non-null  object
 24  24      299575 non-null  object
 25  25      299575 non-null  int64
 26  26      299575 non-null  object
 27  27      299575 non-null  object
 28  28      299575 non-null  object
 29  29      299575 non-null  object
 30  30      299575 non-null  object
 31  31      299575 non-null  object
 32  32      299575 non-null  object
 33  33      299575 non-null  object
 34  34      299575 non-null  object
 35  35      299575 non-null  object
 36  36      299575 non-null  object
 37  37      299575 non-null  object
 38  38      299575 non-null  object
 39  39      299575 non-null  object
 40  40      299575 non-null  int64
 41  41      299575 non-null  object
 42  42      299575 non-null  object
 43  43      299575 non-null  object
 44  44      299575 non-null  object
 45  45      299575 non-null  object
 46  46      299575 non-null  object
dtypes: int64(7), object(40)
memory usage: 107.4+ MB

In [ ]:
df.head(3)

,0,1,2,3,4,5,6,7,8,9,...,37,38,39,40,41,42,43,44,45,46
0,201001011-2010-017638,ATLANTIC,ABSECON CITY,09/19/2010,S,0921,1,ABSECON CITY PD,,0,...,,,,45,,,,N,...,846
1,201001011-2010-023121,ATLANTIC,ABSECON CITY,12/22/2010,W,0129,1,ABSECON CITY PD,,0,...,,,,40,25,39.42840,74.49603,N,UTILITY POLE #P4824 ...,845
2,201001011-2010-023146,ATLANTIC,ABSECON CITY,12/22/2010,W,1018,1,ABSECON CITY PD,,0,...,,,,25,,,,N,NONE ...,850

In [ ]:
df.tail(3)

,0,1,2,3,4,5,6,7,8,9,...,37,38,39,40,41,42,43,44,45,46
299572,20102123B150201000348A,WARREN,WHITE TWP,11/15/2010,M,1400,2,NEW JERSEY STATE POLICE,WASHINGTON STA?,0,...,,,,35,,,,N,...,1806
299573,20102123B150201000370A,WARREN,WHITE TWP,12/03/2010,F,0638,2,NEW JERSEY STATE POLICE,WASHINGTON STA?,0,...,,,,50,,,,N,...,6801
299574,20102123R150201000006P,WARREN,WHITE TWP,02/26/2010,F,1157,2,NEW JERSEY STATE POLICE,WASHINGTON,0,...,,,,0,,,,N,...,6954

In [ ]:
df['Year']=2010

In [ ]:
df_sample = df.copy()

In [ ]:
df_sample.rename({0: 'Crash_ID', 1:'County Name',2:'Municipality Name',3:'Crash Date',4:'Crash Day of Week',5:'Crash Time',6:'Police Department Code', 7:'Police Department',
                  8:'Police Station', 9:'Total Killed', 10:'Total Injured', 11:'Pedestrians Killed',12:'Pedestrians Injured', 13:'Severity', 14:'Intersection',
                  15:'Alcohol Involved', 16:'HazMat Involved', 17:'Crash Type Code', 18:'Total Vehicles Involved', 19:'Crash Location',20:'Location Direction',21:'Route',
                  22:'Route Suffix',23:'SRI (Standard Route Indentifier)',24:'Mile Post',25:'Road System',26:'Road Character',27:'Road Surface Type',28:'Surface Condition',
                  29:'Light Condition',30:'Enviornmental Condition',31:'Road Divided By',32:'Temporary Traffic Control Zone',33:'Distance to Cross Street',
                  34:'Unit of Measurement',35:'Direction from Cross Street',36:'Cross Street Name',37:'Is Ramp',38:'Ramp To/From Route Name',39:'Ramp To/From Direction',
                  40:'Posted Speed',41:'Posted Speed Cross Street',42:'Latitude',43:'Longitude',44:'Cell Phone In Use Flag', 45:'Other Property Damage', 46:'Reporting Badge No.'},
                  axis = 1, inplace=True
)

In [ ]:
df_sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299575 entries, 0 to 299574
Data columns (total 48 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   Crash_ID                          299575 non-null  object
 1   County Name                       299575 non-null  object
 2   Municipality Name                 299575 non-null  object
 3   Crash Date                        299575 non-null  object
 4   Crash Day of Week                 299575 non-null  object
 5   Crash Time                        299575 non-null  object
 6   Police Department Code            299575 non-null  object
 7   Police Department                 299575 non-null  object
 8   Police Station                    299575 non-null  object
 9   Total Killed                      299575 non-null  int64
 10  Total Injured                     299575 non-null  int64
 11  Pedestrians Killed                299575 non-null  int64
 12  Pedestrians Injured               299575 non-null  int64
 13  Severity                          299575 non-null  object
 14  Intersection                      299575 non-null  object
 15  Alcohol Involved                  299575 non-null  object
 16  HazMat Involved                   299575 non-null  object
 17  Crash Type Code                   299575 non-null  object
 18  Total Vehicles Involved           299575 non-null  int64
 19  Crash Location                    299575 non-null  object
 20  Location Direction                299575 non-null  object
 21  Route                             299575 non-null  object
 22  Route Suffix                      299575 non-null  object
 23  SRI (Standard Route Indentifier)  299575 non-null  object
 24  Mile Post                         299575 non-null  object
 25  Road System                       299575 non-null  int64
 26  Road Character                    299575 non-null  object
 27  Road Surface Type                 299575 non-null  object
 28  Surface Condition                 299575 non-null  object
 29  Light Condition                   299575 non-null  object
 30  Enviornmental Condition           299575 non-null  object
 31  Road Divided By                   299575 non-null  object
 32  Temporary Traffic Control Zone    299575 non-null  object
 33  Distance to Cross Street          299575 non-null  object
 34  Unit of Measurement               299575 non-null  object
 35  Direction from Cross Street       299575 non-null  object
 36  Cross Street Name                 299575 non-null  object
 37  Is Ramp                           299575 non-null  object
 38  Ramp To/From Route Name           299575 non-null  object
 39  Ramp To/From Direction            299575 non-null  object
 40  Posted Speed                      299575 non-null  int64
 41  Posted Speed Cross Street         299575 non-null  object
 42  Latitude                          299575 non-null  object
 43  Longitude                         299575 non-null  object
 44  Cell Phone In Use Flag            299575 non-null  object
 45  Other Property Damage             299575 non-null  object
 46  Reporting Badge No.               299575 non-null  object
 47  Year                              299575 non-null  int64
dtypes: int64(8), object(40)
memory usage: 109.7+ MB

In [ ]:
df_sample.tail(3)

,Crash_ID,County Name,Municipality Name,Crash Date,Crash Day of Week,Crash Time,Police Department Code,Police Department,Police Station,Total Killed,...,Ramp To/From Route Name,Ramp To/From Direction,Posted Speed,Posted Speed Cross Street,Latitude,Longitude,Cell Phone In Use Flag,Other Property Damage,Reporting Badge No.,Year
299572,20102123B150201000348A,WARREN,WHITE TWP,11/15/2010,M,1400,2,NEW JERSEY STATE POLICE,WASHINGTON STA?,0,...,,,35,,,,N,...,1806,2010
299573,20102123B150201000370A,WARREN,WHITE TWP,12/03/2010,F,0638,2,NEW JERSEY STATE POLICE,WASHINGTON STA?,0,...,,,50,,,,N,...,6801,2010
299574,20102123R150201000006P,WARREN,WHITE TWP,02/26/2010,F,1157,2,NEW JERSEY STATE POLICE,WASHINGTON,0,...,,,0,,,,N,...,6954,2010

In [ ]:
df1 = pd.read_csv('/content/drive/MyDrive/NJ_Mine/Crash, Raw txt Files/NewJersey2011Accidents.txt',sep=',',header=None)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 293595 entries, 0 to 293594
Data columns (total 47 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       293595 non-null  object
 1   1       293595 non-null  object
 2   2       293595 non-null  object
 3   3       293595 non-null  object
 4   4       293595 non-null  object
 5   5       293595 non-null  object
 6   6       293595 non-null  object
 7   7       293595 non-null  object
 8   8       293595 non-null  object
 9   9       293595 non-null  int64
 10  10      293595 non-null  int64
 11  11      293595 non-null  int64
 12  12      293595 non-null  int64
 13  13      293595 non-null  object
 14  14      293595 non-null  object
 15  15      293595 non-null  object
 16  16      293595 non-null  object
 17  17      293595 non-null  object
 18  18      293595 non-null  int64
 19  19      293595 non-null  object
 20  20      293595 non-null  object
 21  21      293595 non-null  object
 22  22      293595 non-null  object
 23  23      293595 non-null  object
 24  24      293595 non-null  object
 25  25      293595 non-null  int64
 26  26      293595 non-null  object
 27  27      293595 non-null  object
 28  28      293595 non-null  object
 29  29      293595 non-null  object
 30  30      293595 non-null  object
 31  31      293595 non-null  object
 32  32      293595 non-null  object
 33  33      293595 non-null  object
 34  34      293595 non-null  object
 35  35      293595 non-null  object
 36  36      293595 non-null  object
 37  37      293595 non-null  object
 38  38      293595 non-null  object
 39  39      293595 non-null  object
 40  40      293595 non-null  int64
 41  41      293595 non-null  object
 42  42      293595 non-null  object
 43  43      293595 non-null  object
 44  44      293595 non-null  object
 45  45      293595 non-null  object
 46  46      293595 non-null  object
dtypes: int64(7), object(40)
memory usage: 105.3+ MB

In [ ]:
df1['Year']=2011

In [ ]:
df1.head(3)

,0,1,2,3,4,5,6,7,8,9,...,38,39,40,41,42,43,44,45,46,Year
0,2011010111-000393,ATLANTIC,ABSECON CITY,01/01/2011,SA,1937,1,ATLANTIC CITY PD,CRASH INVESTIG?,0,...,,,50,,,,N,NONE ...,762,2011
1,2011010111-083557,ATLANTIC,ABSECON CITY,08/03/2011,W,2221,1,ATLANTIC CITY PD,AIU,0,...,,,50,50,,,N,...,367,2011
2,2011010111-088081,ATLANTIC,ABSECON CITY,08/13/2011,SA,1545,1,ATLANTIC CITY PD,CRASH INVESTIG,0,...,,,45,,,,N,NONE ...,752,2011

In [ ]:
df_sample1 = df1.copy()

In [ ]:
df_sample1.rename({0: 'Crash_ID', 1:'County Name',2:'Municipality Name',3:'Crash Date',4:'Crash Day of Week',5:'Crash Time',6:'Police Department Code', 7:'Police Department',
                  8:'Police Station', 9:'Total Killed', 10:'Total Injured', 11:'Pedestrians Killed',12:'Pedestrians Injured', 13:'Severity', 14:'Intersection',
                  15:'Alcohol Involved', 16:'HazMat Involved', 17:'Crash Type Code', 18:'Total Vehicles Involved', 19:'Crash Location',20:'Location Direction',21:'Route',
                  22:'Route Suffix',23:'SRI (Standard Route Indentifier)',24:'Mile Post',25:'Road System',26:'Road Character',27:'Road Surface Type',28:'Surface Condition',
                  29:'Light Condition',30:'Enviornmental Condition',31:'Road Divided By',32:'Temporary Traffic Control Zone',33:'Distance to Cross Street',
                  34:'Unit of Measurement',35:'Direction from Cross Street',36:'Cross Street Name',37:'Is Ramp',38:'Ramp To/From Route Name',39:'Ramp To/From Direction',
                  40:'Posted Speed',41:'Posted Speed Cross Street',42:'Latitude',43:'Longitude',44:'Cell Phone In Use Flag', 45:'Other Property Damage', 46:'Reporting Badge No.'},
                  axis = 1, inplace=True
)

In [ ]:
df_sample1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 293595 entries, 0 to 293594
Data columns (total 48 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   Crash_ID                          293595 non-null  object
 1   County Name                       293595 non-null  object
 2   Municipality Name                 293595 non-null  object
 3   Crash Date                        293595 non-null  object
 4   Crash Day of Week                 293595 non-null  object
 5   Crash Time                        293595 non-null  object
 6   Police Department Code            293595 non-null  object
 7   Police Department                 293595 non-null  object
 8   Police Station                    293595 non-null  object
 9   Total Killed                      293595 non-null  int64
 10  Total Injured                     293595 non-null  int64
 11  Pedestrians Killed                293595 non-null  int64
 12  Pedestrians Injured               293595 non-null  int64
 13  Severity                          293595 non-null  object
 14  Intersection                      293595 non-null  object
 15  Alcohol Involved                  293595 non-null  object
 16  HazMat Involved                   293595 non-null  object
 17  Crash Type Code                   293595 non-null  object
 18  Total Vehicles Involved           293595 non-null  int64
 19  Crash Location                    293595 non-null  object
 20  Location Direction                293595 non-null  object
 21  Route                             293595 non-null  object
 22  Route Suffix                      293595 non-null  object
 23  SRI (Standard Route Indentifier)  293595 non-null  object
 24  Mile Post                         293595 non-null  object
 25  Road System                       293595 non-null  int64
 26  Road Character                    293595 non-null  object
 27  Road Surface Type                 293595 non-null  object
 28  Surface Condition                 293595 non-null  object
 29  Light Condition                   293595 non-null  object
 30  Enviornmental Condition           293595 non-null  object
 31  Road Divided By                   293595 non-null  object
 32  Temporary Traffic Control Zone    293595 non-null  object
 33  Distance to Cross Street          293595 non-null  object
 34  Unit of Measurement               293595 non-null  object
 35  Direction from Cross Street       293595 non-null  object
 36  Cross Street Name                 293595 non-null  object
 37  Is Ramp                           293595 non-null  object
 38  Ramp To/From Route Name           293595 non-null  object
 39  Ramp To/From Direction            293595 non-null  object
 40  Posted Speed                      293595 non-null  int64
 41  Posted Speed Cross Street         293595 non-null  object
 42  Latitude                          293595 non-null  object
 43  Longitude                         293595 non-null  object
 44  Cell Phone In Use Flag            293595 non-null  object
 45  Other Property Damage             293595 non-null  object
 46  Reporting Badge No.               293595 non-null  object
 47  Year                              293595 non-null  int64
dtypes: int64(8), object(40)
memory usage: 107.5+ MB

In [ ]:
df_sample1.tail(3)

,Crash_ID,County Name,Municipality Name,Crash Date,Crash Day of Week,Crash Time,Police Department Code,Police Department,Police Station,Total Killed,...,Ramp To/From Route Name,Ramp To/From Direction,Posted Speed,Posted Speed Cross Street,Latitude,Longitude,Cell Phone In Use Flag,Other Property Damage,Reporting Badge No.,Year
293592,20112123B150201100406A,WARREN,WHITE TWP,12/27/2011,TU,1200,02,NEW JERSEY STATE POLICE,WASHINGTON,0,...,,,25,25,,,N,...,7053,2011
293593,20112123B1?02011135A,WARREN,WHITE TWP,04/29/2011,F,2300,02,NEW JERSEY STATE POLICE,WASHINGTON,0,...,,,30,,,,N,...,4799,2011
293594,20112123D1502011-00014P,WARREN,WHITE TWP,04/06/2011,W,1208,02,NEW JERSEY STATE POLICE,WASHINGTON,0,...,,,50,,,,N,NONE ...,5887,2011

In [ ]:
df2 = pd.read_csv('/content/drive/MyDrive/NJ_Mine/Crash, Raw txt Files/NewJersey2012Accidents.txt',sep=',',header=None)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284062 entries, 0 to 284061
Data columns (total 47 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       284062 non-null  object
 1   1       284062 non-null  object
 2   2       284062 non-null  object
 3   3       284062 non-null  object
 4   4       284062 non-null  object
 5   5       284062 non-null  object
 6   6       284062 non-null  object
 7   7       284062 non-null  object
 8   8       284062 non-null  object
 9   9       284062 non-null  int64
 10  10      284062 non-null  int64
 11  11      284062 non-null  int64
 12  12      284062 non-null  int64
 13  13      284062 non-null  object
 14  14      284062 non-null  object
 15  15      284062 non-null  object
 16  16      284062 non-null  object
 17  17      284062 non-null  object
 18  18      284062 non-null  int64
 19  19      284062 non-null  object
 20  20      284062 non-null  object
 21  21      284062 non-null  object
 22  22      284062 non-null  object
 23  23      284062 non-null  object
 24  24      284062 non-null  object
 25  25      284062 non-null  int64
 26  26      284062 non-null  object
 27  27      284062 non-null  object
 28  28      284062 non-null  object
 29  29      284062 non-null  object
 30  30      284062 non-null  object
 31  31      284062 non-null  object
 32  32      284062 non-null  object
 33  33      284062 non-null  object
 34  34      284062 non-null  object
 35  35      284062 non-null  object
 36  36      284062 non-null  object
 37  37      284062 non-null  object
 38  38      284062 non-null  object
 39  39      284062 non-null  object
 40  40      284062 non-null  int64
 41  41      284062 non-null  object
 42  42      284062 non-null  object
 43  43      284062 non-null  object
 44  44      284062 non-null  object
 45  45      284062 non-null  object
 46  46      284062 non-null  object
dtypes: int64(7), object(40)
memory usage: 101.9+ MB

In [ ]:
df2['Year']=2012

In [ ]:
df2.head(3)

,0,1,2,3,4,5,6,7,8,9,...,38,39,40,41,42,43,44,45,46,Year
0,2012010112-005033,ATLANTIC,ABSECON CITY,01/14/2012,SA,0425,1,ATLANTIC CITY PD,AIU,0,...,,,50,,,,N,NONE ...,384,2012
1,2012010112-026160,ATLANTIC,ABSECON CITY,03/11/2012,S,1533,1,ATLANTIC CITY PD,CRASH INVESTIG,0,...,,,50,40,,,N,NONE ...,530,2012
2,2012010112-088790,ATLANTIC,ABSECON CITY,08/06/2012,M,0309,1,ATLANTIC CITY PD,CRASH INVESTIG,0,...,,,40,,,,N,NONE ...,762,2012

In [ ]:
df_sample2 = df2.copy()

In [ ]:
df_sample2.rename({0: 'Crash_ID', 1:'County Name',2:'Municipality Name',3:'Crash Date',4:'Crash Day of Week',5:'Crash Time',6:'Police Department Code', 7:'Police Department',
                  8:'Police Station', 9:'Total Killed', 10:'Total Injured', 11:'Pedestrians Killed',12:'Pedestrians Injured', 13:'Severity', 14:'Intersection',
                  15:'Alcohol Involved', 16:'HazMat Involved', 17:'Crash Type Code', 18:'Total Vehicles Involved', 19:'Crash Location',20:'Location Direction',21:'Route',
                  22:'Route Suffix',23:'SRI (Standard Route Indentifier)',24:'Mile Post',25:'Road System',26:'Road Character',27:'Road Surface Type',28:'Surface Condition',
                  29:'Light Condition',30:'Enviornmental Condition',31:'Road Divided By',32:'Temporary Traffic Control Zone',33:'Distance to Cross Street',
                  34:'Unit of Measurement',35:'Direction from Cross Street',36:'Cross Street Name',37:'Is Ramp',38:'Ramp To/From Route Name',39:'Ramp To/From Direction',
                  40:'Posted Speed',41:'Posted Speed Cross Street',42:'Latitude',43:'Longitude',44:'Cell Phone In Use Flag', 45:'Other Property Damage', 46:'Reporting Badge No.'},
                  axis = 1, inplace=True
)

In [ ]:
df_sample2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284062 entries, 0 to 284061
Data columns (total 48 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   Crash_ID                          284062 non-null  object
 1   County Name                       284062 non-null  object
 2   Municipality Name                 284062 non-null  object
 3   Crash Date                        284062 non-null  object
 4   Crash Day of Week                 284062 non-null  object
 5   Crash Time                        284062 non-null  object
 6   Police Department Code            284062 non-null  object
 7   Police Department                 284062 non-null  object
 8   Police Station                    284062 non-null  object
 9   Total Killed                      284062 non-null  int64
 10  Total Injured                     284062 non-null  int64
 11  Pedestrians Killed                284062 non-null  int64
 12  Pedestrians Injured               284062 non-null  int64
 13  Severity                          284062 non-null  object
 14  Intersection                      284062 non-null  object
 15  Alcohol Involved                  284062 non-null  object
 16  HazMat Involved                   284062 non-null  object
 17  Crash Type Code                   284062 non-null  object
 18  Total Vehicles Involved           284062 non-null  int64
 19  Crash Location                    284062 non-null  object
 20  Location Direction                284062 non-null  object
 21  Route                             284062 non-null  object
 22  Route Suffix                      284062 non-null  object
 23  SRI (Standard Route Indentifier)  284062 non-null  object
 24  Mile Post                         284062 non-null  object
 25  Road System                       284062 non-null  int64
 26  Road Character                    284062 non-null  object
 27  Road Surface Type                 284062 non-null  object
 28  Surface Condition                 284062 non-null  object
 29  Light Condition                   284062 non-null  object
 30  Enviornmental Condition           284062 non-null  object
 31  Road Divided By                   284062 non-null  object
 32  Temporary Traffic Control Zone    284062 non-null  object
 33  Distance to Cross Street          284062 non-null  object
 34  Unit of Measurement               284062 non-null  object
 35  Direction from Cross Street       284062 non-null  object
 36  Cross Street Name                 284062 non-null  object
 37  Is Ramp                           284062 non-null  object
 38  Ramp To/From Route Name           284062 non-null  object
 39  Ramp To/From Direction            284062 non-null  object
 40  Posted Speed                      284062 non-null  int64
 41  Posted Speed Cross Street         284062 non-null  object
 42  Latitude                          284062 non-null  object
 43  Longitude                         284062 non-null  object
 44  Cell Phone In Use Flag            284062 non-null  object
 45  Other Property Damage             284062 non-null  object
 46  Reporting Badge No.               284062 non-null  object
 47  Year                              284062 non-null  int64
dtypes: int64(8), object(40)
memory usage: 104.0+ MB

In [ ]:
df_sample2.tail(3)

,Crash_ID,County Name,Municipality Name,Crash Date,Crash Day of Week,Crash Time,Police Department Code,Police Department,Police Station,Total Killed,...,Ramp To/From Route Name,Ramp To/From Direction,Posted Speed,Posted Speed Cross Street,Latitude,Longitude,Cell Phone In Use Flag,Other Property Damage,Reporting Badge No.,Year
284059,20122123B150201200146A,WARREN,WHITE TWP,06/19/2012,TU,1523,2,NEW JERSEY STATE POLICE,WASHINGTON,0,...,,,50,50,,,N,...,6576,2012
284060,20122123B150201200164A,WARREN,WHITE TWP,07/07/2012,SA,0850,2,NEW JERSEY STATE POLICE,WASHINGTON,0,...,,,50,,,,N,...,7318,2012
284061,20122123B150201200191A,WARREN,WHITE TWP,07/24/2012,TU,0751,2,NEW JERSEY STATE POLICE,WASHINGTON,0,...,,,50,,,,N,...,7147,2012

In [ ]:
df3 = pd.read_csv('/content/drive/MyDrive/NJ_Mine/Crash, Raw txt Files/NewJersey2013Accidents.txt',sep=',',header=None)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (5,17) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263500 entries, 0 to 263499
Data columns (total 47 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       263500 non-null  object
 1   1       263490 non-null  object
 2   2       263484 non-null  object
 3   3       263484 non-null  object
 4   4       263484 non-null  object
 5   5       263484 non-null  object
 6   6       263484 non-null  float64
 7   7       263484 non-null  object
 8   8       263484 non-null  object
 9   9       263484 non-null  float64
 10  10      263484 non-null  float64
 11  11      263484 non-null  float64
 12  12      263484 non-null  float64
 13  13      263484 non-null  object
 14  14      263484 non-null  object
 15  15      263484 non-null  object
 16  16      263484 non-null  object
 17  17      263484 non-null  object
 18  18      263484 non-null  float64
 19  19      263484 non-null  object
 20  20      263484 non-null  object
 21  21      263484 non-null  object
 22  22      263484 non-null  object
 23  23      263484 non-null  object
 24  24      263484 non-null  object
 25  25      263484 non-null  float64
 26  26      263484 non-null  object
 27  27      263484 non-null  object
 28  28      263484 non-null  object
 29  29      263484 non-null  object
 30  30      263484 non-null  object
 31  31      263484 non-null  object
 32  32      263484 non-null  object
 33  33      263484 non-null  object
 34  34      263484 non-null  object
 35  35      263484 non-null  object
 36  36      263484 non-null  object
 37  37      263484 non-null  object
 38  38      263483 non-null  object
 39  39      263483 non-null  object
 40  40      263483 non-null  object
 41  41      263483 non-null  object
 42  42      263483 non-null  object
 43  43      263483 non-null  object
 44  44      263483 non-null  object
 45  45      263483 non-null  object
 46  46      263477 non-null  object
dtypes: float64(7), object(40)
memory usage: 94.5+ MB

In [ ]:
df3['Year']=2013

In [ ]:
df3.head(3)

,0,1,2,3,4,5,6,7,8,9,...,38,39,40,41,42,43,44,45,46,Year
0,2013010113-000969,ATLANTIC,ABSECON CITY,01/03/2013,TH,1842,1.0,ATLANTIC CITY PD,AIU,0.0,...,,,50,50,,,N,...,367,2013
1,2013010113-053919,ATLANTIC,ABSECON CITY,08/23/2013,F,0806,1.0,EGG HARBOR TWP PD,HQ,0.0,...,,,50,40,,,N,LANDSCAPING AND IRRIGATION SYSTEMS @ IGT 403 W...,1597,2013
2,201301012013-00008488,ATLANTIC,ABSECON CITY,03/16/2013,SA,1006,1.0,GALLOWAY TWP PD,,0.0,...,,,45,25,,,N,...,071,2013

In [ ]:
df_sample3 = df3.copy()

In [ ]:
df_sample3.rename({0: 'Crash_ID', 1:'County Name',2:'Municipality Name',3:'Crash Date',4:'Crash Day of Week',5:'Crash Time',6:'Police Department Code', 7:'Police Department',
                  8:'Police Station', 9:'Total Killed', 10:'Total Injured', 11:'Pedestrians Killed',12:'Pedestrians Injured', 13:'Severity', 14:'Intersection',
                  15:'Alcohol Involved', 16:'HazMat Involved', 17:'Crash Type Code', 18:'Total Vehicles Involved', 19:'Crash Location',20:'Location Direction',21:'Route',
                  22:'Route Suffix',23:'SRI (Standard Route Indentifier)',24:'Mile Post',25:'Road System',26:'Road Character',27:'Road Surface Type',28:'Surface Condition',
                  29:'Light Condition',30:'Enviornmental Condition',31:'Road Divided By',32:'Temporary Traffic Control Zone',33:'Distance to Cross Street',
                  34:'Unit of Measurement',35:'Direction from Cross Street',36:'Cross Street Name',37:'Is Ramp',38:'Ramp To/From Route Name',39:'Ramp To/From Direction',
                  40:'Posted Speed',41:'Posted Speed Cross Street',42:'Latitude',43:'Longitude',44:'Cell Phone In Use Flag', 45:'Other Property Damage', 46:'Reporting Badge No.'},
                  axis = 1, inplace=True
)

In [ ]:
df_sample3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263500 entries, 0 to 263499
Data columns (total 48 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   Crash_ID                          263500 non-null  object
 1   County Name                       263490 non-null  object
 2   Municipality Name                 263484 non-null  object
 3   Crash Date                        263484 non-null  object
 4   Crash Day of Week                 263484 non-null  object
 5   Crash Time                        263484 non-null  object
 6   Police Department Code            263484 non-null  float64
 7   Police Department                 263484 non-null  object
 8   Police Station                    263484 non-null  object
 9   Total Killed                      263484 non-null  float64
 10  Total Injured                     263484 non-null  float64
 11  Pedestrians Killed                263484 non-null  float64
 12  Pedestrians Injured               263484 non-null  float64
 13  Severity                          263484 non-null  object
 14  Intersection                      263484 non-null  object
 15  Alcohol Involved                  263484 non-null  object
 16  HazMat Involved                   263484 non-null  object
 17  Crash Type Code                   263484 non-null  object
 18  Total Vehicles Involved           263484 non-null  float64
 19  Crash Location                    263484 non-null  object
 20  Location Direction                263484 non-null  object
 21  Route                             263484 non-null  object
 22  Route Suffix                      263484 non-null  object
 23  SRI (Standard Route Indentifier)  263484 non-null  object
 24  Mile Post                         263484 non-null  object
 25  Road System                       263484 non-null  float64
 26  Road Character                    263484 non-null  object
 27  Road Surface Type                 263484 non-null  object
 28  Surface Condition                 263484 non-null  object
 29  Light Condition                   263484 non-null  object
 30  Enviornmental Condition           263484 non-null  object
 31  Road Divided By                   263484 non-null  object
 32  Temporary Traffic Control Zone    263484 non-null  object
 33  Distance to Cross Street          263484 non-null  object
 34  Unit of Measurement               263484 non-null  object
 35  Direction from Cross Street       263484 non-null  object
 36  Cross Street Name                 263484 non-null  object
 37  Is Ramp                           263484 non-null  object
 38  Ramp To/From Route Name           263483 non-null  object
 39  Ramp To/From Direction            263483 non-null  object
 40  Posted Speed                      263483 non-null  object
 41  Posted Speed Cross Street         263483 non-null  object
 42  Latitude                          263483 non-null  object
 43  Longitude                         263483 non-null  object
 44  Cell Phone In Use Flag            263483 non-null  object
 45  Other Property Damage             263483 non-null  object
 46  Reporting Badge No.               263477 non-null  object
 47  Year                              263500 non-null  int64
dtypes: float64(7), int64(1), object(40)
memory usage: 96.5+ MB

In [ ]:
df_sample3.tail(3)

,Crash_ID,County Name,Municipality Name,Crash Date,Crash Day of Week,Crash Time,Police Department Code,Police Department,Police Station,Total Killed,...,Ramp To/From Route Name,Ramp To/From Direction,Posted Speed,Posted Speed Cross Street,Latitude,Longitude,Cell Phone In Use Flag,Other Property Damage,Reporting Badge No.,Year
263497,20132123B150-2013-00486A,WARREN,WHITE TWP,12/26/2013,TH,1801,2.0,NEW JERSEY STATE POLICE,WASHINGTON - SQ,0.0,...,,,50,,,,N,NONE ...,7493,2013
263498,20132123B150-2013-00489A,WARREN,WHITE TWP,12/31/2013,TU,1534,2.0,NEW JERSEY STATE POLICE,WASHINGTON,0.0,...,,,50,,,,N,...,7545,2013
263499,20132123C020-2013-00163A,WARREN,WHITE TWP,05/03/2013,F,1837,2.0,NEW JERSEY STATE POLICE,WASHINGTON,0.0,...,,,40,,,,N,NO DAMAGE TO OTHER PROPERTY. ...,7009,2013

In [ ]:
df4 = pd.read_csv('/content/drive/MyDrive/NJ_Mine/Crash, Raw txt Files/NewJersey2014Accidents.txt',sep=',',header=None)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (5,6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 290603 entries, 0 to 290602
Data columns (total 47 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       290603 non-null  object
 1   1       290436 non-null  object
 2   2       290212 non-null  object
 3   3       290212 non-null  object
 4   4       290212 non-null  object
 5   5       290212 non-null  object
 6   6       290212 non-null  object
 7   7       290212 non-null  object
 8   8       290212 non-null  object
 9   9       290212 non-null  float64
 10  10      290212 non-null  float64
 11  11      290212 non-null  float64
 12  12      290212 non-null  float64
 13  13      290212 non-null  object
 14  14      290212 non-null  object
 15  15      290212 non-null  object
 16  16      290212 non-null  object
 17  17      290212 non-null  object
 18  18      290212 non-null  float64
 19  19      290212 non-null  object
 20  20      290212 non-null  object
 21  21      290212 non-null  object
 22  22      290212 non-null  object
 23  23      290212 non-null  object
 24  24      290212 non-null  object
 25  25      290212 non-null  float64
 26  26      290212 non-null  object
 27  27      290212 non-null  object
 28  28      290212 non-null  object
 29  29      290212 non-null  object
 30  30      290212 non-null  object
 31  31      290212 non-null  object
 32  32      290212 non-null  object
 33  33      290212 non-null  object
 34  34      290212 non-null  object
 35  35      290212 non-null  object
 36  36      290212 non-null  object
 37  37      290212 non-null  object
 38  38      290212 non-null  object
 39  39      290212 non-null  object
 40  40      290212 non-null  object
 41  41      290212 non-null  object
 42  42      290212 non-null  object
 43  43      290212 non-null  object
 44  44      290212 non-null  object
 45  45      290212 non-null  object
 46  46      289988 non-null  object
dtypes: float64(6), object(41)
memory usage: 104.2+ MB

In [ ]:
df4['Year']=2014

In [ ]:
df_sample4 = df4.copy()

In [ ]:
df_sample4.rename({0: 'Crash_ID', 1:'County Name',2:'Municipality Name',3:'Crash Date',4:'Crash Day of Week',5:'Crash Time',6:'Police Department Code', 7:'Police Department',
                  8:'Police Station', 9:'Total Killed', 10:'Total Injured', 11:'Pedestrians Killed',12:'Pedestrians Injured', 13:'Severity', 14:'Intersection',
                  15:'Alcohol Involved', 16:'HazMat Involved', 17:'Crash Type Code', 18:'Total Vehicles Involved', 19:'Crash Location',20:'Location Direction',21:'Route',
                  22:'Route Suffix',23:'SRI (Standard Route Indentifier)',24:'Mile Post',25:'Road System',26:'Road Character',27:'Road Surface Type',28:'Surface Condition',
                  29:'Light Condition',30:'Enviornmental Condition',31:'Road Divided By',32:'Temporary Traffic Control Zone',33:'Distance to Cross Street',
                  34:'Unit of Measurement',35:'Direction from Cross Street',36:'Cross Street Name',37:'Is Ramp',38:'Ramp To/From Route Name',39:'Ramp To/From Direction',
                  40:'Posted Speed',41:'Posted Speed Cross Street',42:'Latitude',43:'Longitude',44:'Cell Phone In Use Flag', 45:'Other Property Damage', 46:'Reporting Badge No.'},
                  axis = 1, inplace=True
)

In [ ]:
df_sample4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 290603 entries, 0 to 290602
Data columns (total 48 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   Crash_ID                          290603 non-null  object
 1   County Name                       290436 non-null  object
 2   Municipality Name                 290212 non-null  object
 3   Crash Date                        290212 non-null  object
 4   Crash Day of Week                 290212 non-null  object
 5   Crash Time                        290212 non-null  object
 6   Police Department Code            290212 non-null  object
 7   Police Department                 290212 non-null  object
 8   Police Station                    290212 non-null  object
 9   Total Killed                      290212 non-null  float64
 10  Total Injured                     290212 non-null  float64
 11  Pedestrians Killed                290212 non-null  float64
 12  Pedestrians Injured               290212 non-null  float64
 13  Severity                          290212 non-null  object
 14  Intersection                      290212 non-null  object
 15  Alcohol Involved                  290212 non-null  object
 16  HazMat Involved                   290212 non-null  object
 17  Crash Type Code                   290212 non-null  object
 18  Total Vehicles Involved           290212 non-null  float64
 19  Crash Location                    290212 non-null  object
 20  Location Direction                290212 non-null  object
 21  Route                             290212 non-null  object
 22  Route Suffix                      290212 non-null  object
 23  SRI (Standard Route Indentifier)  290212 non-null  object
 24  Mile Post                         290212 non-null  object
 25  Road System                       290212 non-null  float64
 26  Road Character                    290212 non-null  object
 27  Road Surface Type                 290212 non-null  object
 28  Surface Condition                 290212 non-null  object
 29  Light Condition                   290212 non-null  object
 30  Enviornmental Condition           290212 non-null  object
 31  Road Divided By                   290212 non-null  object
 32  Temporary Traffic Control Zone    290212 non-null  object
 33  Distance to Cross Street          290212 non-null  object
 34  Unit of Measurement               290212 non-null  object
 35  Direction from Cross Street       290212 non-null  object
 36  Cross Street Name                 290212 non-null  object
 37  Is Ramp                           290212 non-null  object
 38  Ramp To/From Route Name           290212 non-null  object
 39  Ramp To/From Direction            290212 non-null  object
 40  Posted Speed                      290212 non-null  object
 41  Posted Speed Cross Street         290212 non-null  object
 42  Latitude                          290212 non-null  object
 43  Longitude                         290212 non-null  object
 44  Cell Phone In Use Flag            290212 non-null  object
 45  Other Property Damage             290212 non-null  object
 46  Reporting Badge No.               289988 non-null  object
 47  Year                              290603 non-null  int64
dtypes: float64(6), int64(1), object(41)
memory usage: 106.4+ MB

In [ ]:
df_sample4.tail(3)

,Crash_ID,County Name,Municipality Name,Crash Date,Crash Day of Week,Crash Time,Police Department Code,Police Department,Police Station,Total Killed,...,Ramp To/From Route Name,Ramp To/From Direction,Posted Speed,Posted Speed Cross Street,Latitude,Longitude,Cell Phone In Use Flag,Other Property Damage,Reporting Badge No.,Year
290600,20142123B150-2014-00460A,WARREN,WHITE TWP,12/21/2014,S,2005,2.0,NEW JERSEY STATE POLICE,WASHINGTON - SQ,0.0,...,,,50,,,,N,...,7592,2014
290601,20142123B150201400001A,WARREN,WHITE TWP,01/03/2014,F,1538,2.0,NEW JERSEY STATE POLICE,WASHINGTON - SQ,0.0,...,,,45,,40.80961,75.06915,N,Pole #NJ415WH.,NaN,2014
290602,Wood (Cord). Owner: John Wyckoff 249 CR-519...,7371,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014

In [ ]:
df5 = pd.read_csv('/content/drive/MyDrive/NJ_Mine/Crash, Raw txt Files/NewJersey2015Accidents.txt',sep=',',header=None)

In [ ]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266467 entries, 0 to 266466
Data columns (total 47 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       266467 non-null  object
 1   1       266216 non-null  object
 2   2       265900 non-null  object
 3   3       265900 non-null  object
 4   4       265900 non-null  object
 5   5       265900 non-null  object
 6   6       265900 non-null  float64
 7   7       265900 non-null  object
 8   8       265900 non-null  object
 9   9       265900 non-null  float64
 10  10      265900 non-null  float64
 11  11      265900 non-null  float64
 12  12      265900 non-null  float64
 13  13      265900 non-null  object
 14  14      265900 non-null  object
 15  15      265900 non-null  object
 16  16      265900 non-null  object
 17  17      265900 non-null  object
 18  18      265900 non-null  float64
 19  19      265900 non-null  object
 20  20      265900 non-null  object
 21  21      265900 non-null  object
 22  22      265900 non-null  object
 23  23      265900 non-null  object
 24  24      265900 non-null  object
 25  25      265900 non-null  float64
 26  26      265900 non-null  object
 27  27      265900 non-null  object
 28  28      265900 non-null  object
 29  29      265900 non-null  object
 30  30      265900 non-null  object
 31  31      265900 non-null  object
 32  32      265900 non-null  object
 33  33      265900 non-null  object
 34  34      265900 non-null  object
 35  35      265900 non-null  object
 36  36      265900 non-null  object
 37  37      265900 non-null  object
 38  38      265900 non-null  object
 39  39      265900 non-null  object
 40  40      265900 non-null  object
 41  41      265900 non-null  object
 42  42      265900 non-null  object
 43  43      265900 non-null  object
 44  44      265900 non-null  object
 45  45      265900 non-null  object
 46  46      265584 non-null  object
dtypes: float64(7), object(40)
memory usage: 95.6+ MB

In [ ]:
df5['Year']=2015

In [ ]:
df_sample5 = df5.copy()

In [ ]:
df_sample5.rename({0: 'Crash_ID', 1:'County Name',2:'Municipality Name',3:'Crash Date',4:'Crash Day of Week',5:'Crash Time',6:'Police Department Code', 7:'Police Department',
                  8:'Police Station', 9:'Total Killed', 10:'Total Injured', 11:'Pedestrians Killed',12:'Pedestrians Injured', 13:'Severity', 14:'Intersection',
                  15:'Alcohol Involved', 16:'HazMat Involved', 17:'Crash Type Code', 18:'Total Vehicles Involved', 19:'Crash Location',20:'Location Direction',21:'Route',
                  22:'Route Suffix',23:'SRI (Standard Route Indentifier)',24:'Mile Post',25:'Road System',26:'Road Character',27:'Road Surface Type',28:'Surface Condition',
                  29:'Light Condition',30:'Enviornmental Condition',31:'Road Divided By',32:'Temporary Traffic Control Zone',33:'Distance to Cross Street',
                  34:'Unit of Measurement',35:'Direction from Cross Street',36:'Cross Street Name',37:'Is Ramp',38:'Ramp To/From Route Name',39:'Ramp To/From Direction',
                  40:'Posted Speed',41:'Posted Speed Cross Street',42:'Latitude',43:'Longitude',44:'Cell Phone In Use Flag', 45:'Other Property Damage', 46:'Reporting Badge No.'},
                  axis = 1, inplace=True
)

In [ ]:
df_sample5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266467 entries, 0 to 266466
Data columns (total 48 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   Crash_ID                          266467 non-null  object
 1   County Name                       266216 non-null  object
 2   Municipality Name                 265900 non-null  object
 3   Crash Date                        265900 non-null  object
 4   Crash Day of Week                 265900 non-null  object
 5   Crash Time                        265900 non-null  object
 6   Police Department Code            265900 non-null  float64
 7   Police Department                 265900 non-null  object
 8   Police Station                    265900 non-null  object
 9   Total Killed                      265900 non-null  float64
 10  Total Injured                     265900 non-null  float64
 11  Pedestrians Killed                265900 non-null  float64
 12  Pedestrians Injured               265900 non-null  float64
 13  Severity                          265900 non-null  object
 14  Intersection                      265900 non-null  object
 15  Alcohol Involved                  265900 non-null  object
 16  HazMat Involved                   265900 non-null  object
 17  Crash Type Code                   265900 non-null  object
 18  Total Vehicles Involved           265900 non-null  float64
 19  Crash Location                    265900 non-null  object
 20  Location Direction                265900 non-null  object
 21  Route                             265900 non-null  object
 22  Route Suffix                      265900 non-null  object
 23  SRI (Standard Route Indentifier)  265900 non-null  object
 24  Mile Post                         265900 non-null  object
 25  Road System                       265900 non-null  float64
 26  Road Character                    265900 non-null  object
 27  Road Surface Type                 265900 non-null  object
 28  Surface Condition                 265900 non-null  object
 29  Light Condition                   265900 non-null  object
 30  Enviornmental Condition           265900 non-null  object
 31  Road Divided By                   265900 non-null  object
 32  Temporary Traffic Control Zone    265900 non-null  object
 33  Distance to Cross Street          265900 non-null  object
 34  Unit of Measurement               265900 non-null  object
 35  Direction from Cross Street       265900 non-null  object
 36  Cross Street Name                 265900 non-null  object
 37  Is Ramp                           265900 non-null  object
 38  Ramp To/From Route Name           265900 non-null  object
 39  Ramp To/From Direction            265900 non-null  object
 40  Posted Speed                      265900 non-null  object
 41  Posted Speed Cross Street         265900 non-null  object
 42  Latitude                          265900 non-null  object
 43  Longitude                         265900 non-null  object
 44  Cell Phone In Use Flag            265900 non-null  object
 45  Other Property Damage             265900 non-null  object
 46  Reporting Badge No.               265584 non-null  object
 47  Year                              266467 non-null  int64
dtypes: float64(7), int64(1), object(40)
memory usage: 97.6+ MB

In [ ]:
df_sample5.tail(3)

,Crash_ID,County Name,Municipality Name,Crash Date,Crash Day of Week,Crash Time,Police Department Code,Police Department,Police Station,Total Killed,...,Ramp To/From Route Name,Ramp To/From Direction,Posted Speed,Posted Speed Cross Street,Latitude,Longitude,Cell Phone In Use Flag,Other Property Damage,Reporting Badge No.,Year
266464,20152123B150201500466A,WARREN,WHITE TWP,12/16/2015,W,2324,2.0,NEW JERSEY STATE POLICE,WASHINGTON - SQ,0.0,...,,,35,,,,N,Traffic sign support Warren County Road Depar...,7801,2015
266465,20152123B150201500475A,WARREN,WHITE TWP,12/25/2015,F,2342,2.0,NEW JERSEY STATE POLICE,WASHINGTON - SQ,0.0,...,,,50,,,,N,...,7804,2015
266466,20152123B150201500479A,WARREN,WHITE TWP,12/28/2015,M,1221,2.0,NEW JERSEY STATE POLICE,WASHINGTON - SQ,0.0,...,,,,,,,N,NONE. ...,7731,2015

In [ ]:
df_merge = df_sample.append([df_sample1,df_sample2,df_sample3,df_sample4,df_sample5],ignore_index=True)

In [ ]:
df_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1697802 entries, 0 to 1697801
Data columns (total 48 columns):
 #   Column                            Dtype
---  ------                            -----
 0   Crash_ID                          object
 1   County Name                       object
 2   Municipality Name                 object
 3   Crash Date                        object
 4   Crash Day of Week                 object
 5   Crash Time                        object
 6   Police Department Code            object
 7   Police Department                 object
 8   Police Station                    object
 9   Total Killed                      float64
 10  Total Injured                     float64
 11  Pedestrians Killed                float64
 12  Pedestrians Injured               float64
 13  Severity                          object
 14  Intersection                      object
 15  Alcohol Involved                  object
 16  HazMat Involved                   object
 17  Crash Type Code                   object
 18  Total Vehicles Involved           float64
 19  Crash Location                    object
 20  Location Direction                object
 21  Route                             object
 22  Route Suffix                      object
 23  SRI (Standard Route Indentifier)  object
 24  Mile Post                         object
 25  Road System                       float64
 26  Road Character                    object
 27  Road Surface Type                 object
 28  Surface Condition                 object
 29  Light Condition                   object
 30  Enviornmental Condition           object
 31  Road Divided By                   object
 32  Temporary Traffic Control Zone    object
 33  Distance to Cross Street          object
 34  Unit of Measurement               object
 35  Direction from Cross Street       object
 36  Cross Street Name                 object
 37  Is Ramp                           object
 38  Ramp To/From Route Name           object
 39  Ramp To/From Direction            object
 40  Posted Speed                      object
 41  Posted Speed Cross Street         object
 42  Latitude                          object
 43  Longitude                         object
 44  Cell Phone In Use Flag            object
 45  Other Property Damage             object
 46  Reporting Badge No.               object
 47  Year                              int64
dtypes: float64(6), int64(1), object(41)
memory usage: 621.8+ MB

In [ ]:
dfn = df_merge[df_merge.isnull().any(axis=1)]
dfn.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1521 entries, 909201 to 1697702
Data columns (total 48 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Crash_ID                          1521 non-null   object
 1   County Name                       1093 non-null   object
 2   Municipality Name                 547 non-null    object
 3   Crash Date                        547 non-null    object
 4   Crash Day of Week                 547 non-null    object
 5   Crash Time                        547 non-null    object
 6   Police Department Code            547 non-null    object
 7   Police Department                 547 non-null    object
 8   Police Station                    547 non-null    object
 9   Total Killed                      547 non-null    float64
 10  Total Injured                     547 non-null    float64
 11  Pedestrians Killed                547 non-null    float64
 12  Pedestrians Injured               547 non-null    float64
 13  Severity                          547 non-null    object
 14  Intersection                      547 non-null    object
 15  Alcohol Involved                  547 non-null    object
 16  HazMat Involved                   547 non-null    object
 17  Crash Type Code                   547 non-null    object
 18  Total Vehicles Involved           547 non-null    float64
 19  Crash Location                    547 non-null    object
 20  Location Direction                547 non-null    object
 21  Route                             547 non-null    object
 22  Route Suffix                      547 non-null    object
 23  SRI (Standard Route Indentifier)  547 non-null    object
 24  Mile Post                         547 non-null    object
 25  Road System                       547 non-null    float64
 26  Road Character                    547 non-null    object
 27  Road Surface Type                 547 non-null    object
 28  Surface Condition                 547 non-null    object
 29  Light Condition                   547 non-null    object
 30  Enviornmental Condition           547 non-null    object
 31  Road Divided By                   547 non-null    object
 32  Temporary Traffic Control Zone    547 non-null    object
 33  Distance to Cross Street          547 non-null    object
 34  Unit of Measurement               547 non-null    object
 35  Direction from Cross Street       547 non-null    object
 36  Cross Street Name                 547 non-null    object
 37  Is Ramp                           547 non-null    object
 38  Ramp To/From Route Name           546 non-null    object
 39  Ramp To/From Direction            546 non-null    object
 40  Posted Speed                      546 non-null    object
 41  Posted Speed Cross Street         546 non-null    object
 42  Latitude                          546 non-null    object
 43  Longitude                         546 non-null    object
 44  Cell Phone In Use Flag            546 non-null    object
 45  Other Property Damage             546 non-null    object
 46  Reporting Badge No.               0 non-null      object
 47  Year                              1521 non-null   int64
dtypes: float64(6), int64(1), object(41)
memory usage: 582.3+ KB

In [ ]:
dfn.Year.value_counts()

2015    883
2014    615
2013     23
Name: Year, dtype: int64

In [ ]:
df_merge.tail(3)

,Crash_ID,County Name,Municipality Name,Crash Date,Crash Day of Week,Crash Time,Police Department Code,Police Department,Police Station,Total Killed,...,Ramp To/From Route Name,Ramp To/From Direction,Posted Speed,Posted Speed Cross Street,Latitude,Longitude,Cell Phone In Use Flag,Other Property Damage,Reporting Badge No.,Year
1697799,20152123B150201500466A,WARREN,WHITE TWP,12/16/2015,W,2324,2.0,NEW JERSEY STATE POLICE,WASHINGTON - SQ,0.0,...,,,35,,,,N,Traffic sign support Warren County Road Depar...,7801,2015
1697800,20152123B150201500475A,WARREN,WHITE TWP,12/25/2015,F,2342,2.0,NEW JERSEY STATE POLICE,WASHINGTON - SQ,0.0,...,,,50,,,,N,...,7804,2015
1697801,20152123B150201500479A,WARREN,WHITE TWP,12/28/2015,M,1221,2.0,NEW JERSEY STATE POLICE,WASHINGTON - SQ,0.0,...,,,,,,,N,NONE. ...,7731,2015

In [ ]:
#from google.colab import drive

#drive.mount('/content/drive')
#path = '/content/drive/MyDrive/NJ_Clean Data/NJ_Accidents(2010-2015).csv'

#with open(path, 'w', encoding = 'utf-8-sig') as f:
  #df_merge.to_csv(f)

In [ ]:
df6 = pd.read_csv('/content/drive/MyDrive/NJ_Mine/Crash, Raw txt Files/NewJersey2016Accidents.txt',sep=',',header=None)

In [ ]:
df6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 280946 entries, 0 to 280945
Data columns (total 47 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       280946 non-null  object
 1   1       280449 non-null  object
 2   2       279874 non-null  object
 3   3       279874 non-null  object
 4   4       279874 non-null  object
 5   5       279874 non-null  object
 6   6       279874 non-null  float64
 7   7       279874 non-null  object
 8   8       279874 non-null  object
 9   9       279874 non-null  float64
 10  10      279874 non-null  float64
 11  11      279874 non-null  float64
 12  12      279874 non-null  float64
 13  13      279874 non-null  object
 14  14      279874 non-null  object
 15  15      279874 non-null  object
 16  16      279874 non-null  object
 17  17      279874 non-null  object
 18  18      279874 non-null  float64
 19  19      279874 non-null  object
 20  20      279874 non-null  object
 21  21      279874 non-null  object
 22  22      279874 non-null  object
 23  23      279874 non-null  object
 24  24      279874 non-null  object
 25  25      279874 non-null  float64
 26  26      279874 non-null  object
 27  27      279874 non-null  object
 28  28      279874 non-null  object
 29  29      279874 non-null  object
 30  30      279874 non-null  object
 31  31      279874 non-null  object
 32  32      279874 non-null  object
 33  33      279874 non-null  object
 34  34      279874 non-null  object
 35  35      279874 non-null  object
 36  36      279874 non-null  object
 37  37      279874 non-null  object
 38  38      279874 non-null  object
 39  39      279874 non-null  object
 40  40      279874 non-null  object
 41  41      279874 non-null  object
 42  42      279874 non-null  object
 43  43      279874 non-null  object
 44  44      279874 non-null  object
 45  45      279874 non-null  object
 46  46      279299 non-null  object
dtypes: float64(7), object(40)
memory usage: 100.7+ MB

In [ ]:
df6.head(2)

,0,1,2,3,4,5,6,7,8,9,...,37,38,39,40,41,42,43,44,45,46
0,2016010116-032475,ATLANTIC,ABSECON CITY,04/08/2016,F,1835,1.0,ATLANTIC CITY PD,CIU,0.0,...,,,,50,,,,N,CONCRETE BARRIER ...,525
1,20160101I-20116-002046,ATLANTIC,ABSECON CITY,01/23/2016,SA,0017,1.0,ABSECON CITY PD,,0.0,...,,,,50,25,,,N,NONE ...,858

In [ ]:
df6['Year']=2016

In [ ]:
df_sample6 = df6.copy()

In [ ]:
df_sample6.rename({0: 'Crash_ID', 1:'County Name',2:'Municipality Name',3:'Crash Date',4:'Crash Day of Week',5:'Crash Time',6:'Police Department Code', 7:'Police Department',
                  8:'Police Station', 9:'Total Killed', 10:'Total Injured', 11:'Pedestrians Killed',12:'Pedestrians Injured', 13:'Severity', 14:'Intersection',
                  15:'Alcohol Involved', 16:'HazMat Involved', 17:'Crash Type Code', 18:'Total Vehicles Involved', 19:'Crash Location',20:'Location Direction',21:'Route',
                  22:'Route Suffix',23:'SRI (Standard Route Indentifier)',24:'Mile Post',25:'Road System',26:'Road Character',27:'Road Surface Type',28:'Surface Condition',
                  29:'Light Condition',30:'Enviornmental Condition',31:'Road Divided By',32:'Temporary Traffic Control Zone',33:'Distance to Cross Street',
                  34:'Unit of Measurement',35:'Direction from Cross Street',36:'Cross Street Name',37:'Is Ramp',38:'Ramp To/From Route Name',39:'Ramp To/From Direction',
                  40:'Posted Speed',41:'Posted Speed Cross Street',42:'Latitude',43:'Longitude',44:'Cell Phone In Use Flag', 45:'Other Property Damage', 46:'Reporting Badge No.'},
                  axis = 1, inplace=True
)

In [ ]:
df_sample6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 280946 entries, 0 to 280945
Data columns (total 48 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   Crash_ID                          280946 non-null  object
 1   County Name                       280449 non-null  object
 2   Municipality Name                 279874 non-null  object
 3   Crash Date                        279874 non-null  object
 4   Crash Day of Week                 279874 non-null  object
 5   Crash Time                        279874 non-null  object
 6   Police Department Code            279874 non-null  float64
 7   Police Department                 279874 non-null  object
 8   Police Station                    279874 non-null  object
 9   Total Killed                      279874 non-null  float64
 10  Total Injured                     279874 non-null  float64
 11  Pedestrians Killed                279874 non-null  float64
 12  Pedestrians Injured               279874 non-null  float64
 13  Severity                          279874 non-null  object
 14  Intersection                      279874 non-null  object
 15  Alcohol Involved                  279874 non-null  object
 16  HazMat Involved                   279874 non-null  object
 17  Crash Type Code                   279874 non-null  object
 18  Total Vehicles Involved           279874 non-null  float64
 19  Crash Location                    279874 non-null  object
 20  Location Direction                279874 non-null  object
 21  Route                             279874 non-null  object
 22  Route Suffix                      279874 non-null  object
 23  SRI (Standard Route Indentifier)  279874 non-null  object
 24  Mile Post                         279874 non-null  object
 25  Road System                       279874 non-null  float64
 26  Road Character                    279874 non-null  object
 27  Road Surface Type                 279874 non-null  object
 28  Surface Condition                 279874 non-null  object
 29  Light Condition                   279874 non-null  object
 30  Enviornmental Condition           279874 non-null  object
 31  Road Divided By                   279874 non-null  object
 32  Temporary Traffic Control Zone    279874 non-null  object
 33  Distance to Cross Street          279874 non-null  object
 34  Unit of Measurement               279874 non-null  object
 35  Direction from Cross Street       279874 non-null  object
 36  Cross Street Name                 279874 non-null  object
 37  Is Ramp                           279874 non-null  object
 38  Ramp To/From Route Name           279874 non-null  object
 39  Ramp To/From Direction            279874 non-null  object
 40  Posted Speed                      279874 non-null  object
 41  Posted Speed Cross Street         279874 non-null  object
 42  Latitude                          279874 non-null  object
 43  Longitude                         279874 non-null  object
 44  Cell Phone In Use Flag            279874 non-null  object
 45  Other Property Damage             279874 non-null  object
 46  Reporting Badge No.               279299 non-null  object
 47  Year                              280946 non-null  int64
dtypes: float64(7), int64(1), object(40)
memory usage: 102.9+ MB

In [ ]:
df_merge1 = df_merge.append(df_sample6,ignore_index=True)

In [ ]:
df_merge1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1978748 entries, 0 to 1978747
Data columns (total 48 columns):
 #   Column                            Dtype
---  ------                            -----
 0   Crash_ID                          object
 1   County Name                       object
 2   Municipality Name                 object
 3   Crash Date                        object
 4   Crash Day of Week                 object
 5   Crash Time                        object
 6   Police Department Code            object
 7   Police Department                 object
 8   Police Station                    object
 9   Total Killed                      float64
 10  Total Injured                     float64
 11  Pedestrians Killed                float64
 12  Pedestrians Injured               float64
 13  Severity                          object
 14  Intersection                      object
 15  Alcohol Involved                  object
 16  HazMat Involved                   object
 17  Crash Type Code                   object
 18  Total Vehicles Involved           float64
 19  Crash Location                    object
 20  Location Direction                object
 21  Route                             object
 22  Route Suffix                      object
 23  SRI (Standard Route Indentifier)  object
 24  Mile Post                         object
 25  Road System                       float64
 26  Road Character                    object
 27  Road Surface Type                 object
 28  Surface Condition                 object
 29  Light Condition                   object
 30  Enviornmental Condition           object
 31  Road Divided By                   object
 32  Temporary Traffic Control Zone    object
 33  Distance to Cross Street          object
 34  Unit of Measurement               object
 35  Direction from Cross Street       object
 36  Cross Street Name                 object
 37  Is Ramp                           object
 38  Ramp To/From Route Name           object
 39  Ramp To/From Direction            object
 40  Posted Speed                      object
 41  Posted Speed Cross Street         object
 42  Latitude                          object
 43  Longitude                         object
 44  Cell Phone In Use Flag            object
 45  Other Property Damage             object
 46  Reporting Badge No.               object
 47  Year                              int64
dtypes: float64(6), int64(1), object(41)
memory usage: 724.6+ MB

In [ ]:
df7 = pd.read_csv('/content/drive/MyDrive/NJ_Mine/Crash, Raw txt Files/NewJersey2017Accidents.txt',sep=',',header=None)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (17,25,29,31) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
df7['Year']=2017

In [ ]:
df7.head(3)

,0,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,Year
0,201701011708-0494,ATLANTIC,ABSECON CITY,08/10/2017,TH,1735,1.0,ATLANTIC CITY PD,,0.0,...,,50,35,26,,,N,...,,2017
1,201701011708-0497,ATLANTIC,ABSECON CITY,08/10/2017,TH,1736,1.0,ATLANTIC CITY PD,,0.0,...,,50,35,26,,,N,...,530,2017
2,201701011709-1131,ATLANTIC,ABSECON CITY,09/27/2017,WE,2127,1.0,ATLANTIC CITY PD,,0.0,...,,50,35,48,,,N,...,530,2017

In [ ]:
columns1 = ['County Name','Municipality Name','Crash Date','Crash Day of Week','Crash Time','Police Department Code']
columns2 = ['Police Station', 'Total Killed', 'Total Injured', 'Pedestrians Killed', 'Pedestrians Injured', 'Severity', 'Intersection', 'Alcohol Involved', 'HazMat Involved', 'Crash Type Code', 'Total Vehicles Involved', 'Crash Location']
columns3 = ['Location Direction','Route','Route Suffix','SRI (Standard Route Indentifier)','Mile Post','Road System','Road Character','Road Surface Type','Surface Condition','Light Condition','Enviornmental Condition','Road Divided By','Temporary Traffic Control Zone','Distance to Cross Street','Unit of Measurement','Direction from Cross Street','Cross Street Name','Is Ramp','Ramp To/From Route Name','Ramp To/From Direction']
columns4 = ['Posted Speed','Posted Speed Cross Street','Latitude','Longitude','Cell Phone In Use Flag','Other Property Damage','Reporting Badge No.']

In [ ]:
df_sample7 = df7.copy()

In [ ]:
df_sample7.rename({0: 'Crash_ID', 1:'County Name',2:'Municipality Name',3:'Crash Date',4:'Crash Day of Week',5:'Crash Time',6:'Police Department Code', 7:'Police Department',
                  8:'Police Station', 9:'Total Killed', 10:'Total Injured', 11:'Pedestrians Killed',12:'Pedestrians Injured', 13:'Severity', 14:'Intersection',
                  15:'Alcohol Involved', 16:'HazMat Involved', 17:'Crash Type Code', 18:'Total Vehicles Involved', 19:'Crash Location',20:'Location Direction',21:'Route',
                  22:'Route Suffix',23:'SRI (Standard Route Indentifier)',24:'Mile Post',25:'Road System',26:'Road Character',27:'Road Horizontal Alignment',28:'Road Grade',29:'Road Surface Type',30:'Surface Condition',
                  31:'Light Condition',32:'Enviornmental Condition',33:'Road Divided By',34:'Temporary Traffic Control Zone',35:'Distance to Cross Street',
                  36:'Unit of Measurement',37:'Direction from Cross Street',38:'Cross Street Name',39:'Is Ramp',40:'Ramp To/From Route Name',41:'Ramp To/From Direction',
                  42:'Posted Speed',43:'Posted Speed Cross Street',44:'First Harmful Event',45:'Latitude',46:'Longitude',47:'Cell Phone In Use Flag',48:'Other Property Damage',49:'Reporting Badge No.'},
                  axis=1, inplace=True
)

In [ ]:
df_sample7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 279140 entries, 0 to 279139
Data columns (total 51 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   Crash_ID                          279139 non-null  object
 1   County Name                       278366 non-null  object
 2   Municipality Name                 277557 non-null  object
 3   Crash Date                        277557 non-null  object
 4   Crash Day of Week                 277557 non-null  object
 5   Crash Time                        277557 non-null  object
 6   Police Department Code            277557 non-null  float64
 7   Police Department                 277557 non-null  object
 8   Police Station                    277557 non-null  object
 9   Total Killed                      277557 non-null  float64
 10  Total Injured                     277557 non-null  float64
 11  Pedestrians Killed                277557 non-null  float64
 12  Pedestrians Injured               277557 non-null  float64
 13  Severity                          277557 non-null  object
 14  Intersection                      277557 non-null  object
 15  Alcohol Involved                  277557 non-null  object
 16  HazMat Involved                   277557 non-null  object
 17  Crash Type Code                   277557 non-null  object
 18  Total Vehicles Involved           277557 non-null  float64
 19  Crash Location                    277557 non-null  object
 20  Location Direction                277557 non-null  object
 21  Route                             277557 non-null  object
 22  Route Suffix                      277557 non-null  object
 23  SRI (Standard Route Indentifier)  277557 non-null  object
 24  Mile Post                         277557 non-null  object
 25  Road System                       277557 non-null  object
 26  Road Character                    277557 non-null  object
 27  Road Horizontal Alignment         277557 non-null  object
 28  Road Grade                        277557 non-null  object
 29  Road Surface Type                 277557 non-null  object
 30  Surface Condition                 277557 non-null  object
 31  Light Condition                   277557 non-null  object
 32  Enviornmental Condition           277557 non-null  object
 33  Road Divided By                   277557 non-null  object
 34  Temporary Traffic Control Zone    277557 non-null  object
 35  Distance to Cross Street          277557 non-null  object
 36  Unit of Measurement               277557 non-null  object
 37  Direction from Cross Street       277557 non-null  object
 38  Cross Street Name                 277557 non-null  object
 39  Is Ramp                           277557 non-null  object
 40  Ramp To/From Route Name           277557 non-null  object
 41  Ramp To/From Direction            277557 non-null  object
 42  Posted Speed                      277557 non-null  object
 43  Posted Speed Cross Street         277557 non-null  object
 44  First Harmful Event               277557 non-null  object
 45  Latitude                          277557 non-null  object
 46  Longitude                         277557 non-null  object
 47  Cell Phone In Use Flag            277557 non-null  object
 48  Other Property Damage             277550 non-null  object
 49  Reporting Badge No.               276748 non-null  object
 50  Year                              279140 non-null  int64
dtypes: float64(6), int64(1), object(44)
memory usage: 108.6+ MB

In [ ]:
df8 = pd.read_csv('/content/drive/MyDrive/NJ_Mine/Crash, Raw txt Files/NewJersey2018Accidents.txt',sep=',',header=None,encoding='mac_roman')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
df8.head(3)

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,201801011801-0497,ATLANTIC,ABSECON CITY,01/15/2018,MO,1519,1.0,ATLANTIC CITY PD,,0.0,...,,,50,,48,,,N,...,825
1,201801011803-0452,ATLANTIC,ABSECON CITY,03/15/2018,TH,1306,1.0,ATLANTIC CITY PD,,0.0,...,,,55,,26,,,N,...,797
2,201801011807-1217,ATLANTIC,ABSECON CITY,07/25/2018,WE,1020,1.0,ATLANTIC CITY PD,TRAFFIC,0.0,...,,,50,,26,,,N,...,630

In [ ]:
df8['Year']=2018

In [ ]:
df_sample8 = df8.copy()

In [ ]:
df_sample8.rename({0: 'Crash_ID', 1:'County Name',2:'Municipality Name',3:'Crash Date',4:'Crash Day of Week',5:'Crash Time',6:'Police Department Code', 7:'Police Department',
                  8:'Police Station', 9:'Total Killed', 10:'Total Injured', 11:'Pedestrians Killed',12:'Pedestrians Injured', 13:'Severity', 14:'Intersection',
                  15:'Alcohol Involved', 16:'HazMat Involved', 17:'Crash Type Code', 18:'Total Vehicles Involved', 19:'Crash Location',20:'Location Direction',21:'Route',
                  22:'Route Suffix',23:'SRI (Standard Route Indentifier)',24:'Mile Post',25:'Road System',26:'Road Character',27:'Road Horizontal Alignment',28:'Road Grade',29:'Road Surface Type',30:'Surface Condition',
                  31:'Light Condition',32:'Enviornmental Condition',33:'Road Divided By',34:'Temporary Traffic Control Zone',35:'Distance to Cross Street',
                  36:'Unit of Measurement',37:'Direction from Cross Street',38:'Cross Street Name',39:'Is Ramp',40:'Ramp To/From Route Name',41:'Ramp To/From Direction',
                  42:'Posted Speed',43:'Posted Speed Cross Street',44:'First Harmful Event',45:'Latitude',46:'Longitude',47:'Cell Phone In Use Flag',48:'Other Property Damage',49:'Reporting Badge No.'},
                  axis=1, inplace=True
)

In [ ]:
df_sample8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 286073 entries, 0 to 286072
Data columns (total 51 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   Crash_ID                          286072 non-null  object
 1   County Name                       285187 non-null  object
 2   Municipality Name                 284201 non-null  object
 3   Crash Date                        284201 non-null  object
 4   Crash Day of Week                 284201 non-null  object
 5   Crash Time                        284201 non-null  object
 6   Police Department Code            284201 non-null  object
 7   Police Department                 284201 non-null  object
 8   Police Station                    284201 non-null  object
 9   Total Killed                      284201 non-null  float64
 10  Total Injured                     284201 non-null  float64
 11  Pedestrians Killed                284201 non-null  float64
 12  Pedestrians Injured               284201 non-null  float64
 13  Severity                          284201 non-null  object
 14  Intersection                      284201 non-null  object
 15  Alcohol Involved                  284201 non-null  object
 16  HazMat Involved                   284201 non-null  object
 17  Crash Type Code                   284201 non-null  object
 18  Total Vehicles Involved           284201 non-null  float64
 19  Crash Location                    284201 non-null  object
 20  Location Direction                284201 non-null  object
 21  Route                             284201 non-null  object
 22  Route Suffix                      284201 non-null  object
 23  SRI (Standard Route Indentifier)  284201 non-null  object
 24  Mile Post                         284201 non-null  object
 25  Road System                       284201 non-null  float64
 26  Road Character                    284201 non-null  object
 27  Road Horizontal Alignment         284201 non-null  object
 28  Road Grade                        284201 non-null  object
 29  Road Surface Type                 284201 non-null  object
 30  Surface Condition                 284201 non-null  object
 31  Light Condition                   284201 non-null  object
 32  Enviornmental Condition           284201 non-null  object
 33  Road Divided By                   284201 non-null  object
 34  Temporary Traffic Control Zone    284201 non-null  object
 35  Distance to Cross Street          284201 non-null  object
 36  Unit of Measurement               284201 non-null  object
 37  Direction from Cross Street       284201 non-null  object
 38  Cross Street Name                 284201 non-null  object
 39  Is Ramp                           284201 non-null  object
 40  Ramp To/From Route Name           284201 non-null  object
 41  Ramp To/From Direction            284201 non-null  object
 42  Posted Speed                      284201 non-null  object
 43  Posted Speed Cross Street         284201 non-null  object
 44  First Harmful Event               284201 non-null  object
 45  Latitude                          284201 non-null  object
 46  Longitude                         284201 non-null  object
 47  Cell Phone In Use Flag            284201 non-null  object
 48  Other Property Damage             284196 non-null  object
 49  Reporting Badge No.               283215 non-null  object
 50  Year                              286073 non-null  int64
dtypes: float64(6), int64(1), object(44)
memory usage: 111.3+ MB

In [ ]:
df_sample8.tail(3)

,Crash_ID,County Name,Municipality Name,Crash Date,Crash Day of Week,Crash Time,Police Department Code,Police Department,Police Station,Total Killed,...,Ramp To/From Direction,Posted Speed,Posted Speed Cross Street,First Harmful Event,Latitude,Longitude,Cell Phone In Use Flag,Other Property Damage,Reporting Badge No.,Year
286070,20182123B150-2018-00477A,WARREN,WHITE TWP,12/11/2018,TU,0752,2.0,NEW JERSEY STATE POLICE,WASHINGTON - SQ,0.0,...,,50,,46,40.842860,75.052890,N,...,8254,2018
286071,20182123B150-2018-00479A,WARREN,WHITE TWP,12/17/2018,MO,0602,2.0,NEW JERSEY STATE POLICE,WASHINGTON - SQ,0.0,...,,50,,24,40.852080,75.021290,N,...,8005,2018
286072,20182123B150-2018-00498A,WARREN,WHITE TWP,12/29/2018,SA,1802,2.0,NEW JERSEY STATE POLICE,WASHINGTON - SQ,0.0,...,,40,25,26,40.837570,74.996070,N,Mailbox of 408 Hazen Oxford Rd. ...,8236,2018

In [ ]:
df9 = pd.read_csv('/content/drive/MyDrive/NJ_Mine/Crash, Raw txt Files/NewJersey2019Accidents.txt',sep=',',header=None)

In [ ]:
df9.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 283210 entries, 0 to 283209
Data columns (total 50 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       283210 non-null  object
 1   1       283204 non-null  object
 2   2       283198 non-null  object
 3   3       283198 non-null  object
 4   4       283198 non-null  object
 5   5       283198 non-null  object
 6   6       283198 non-null  float64
 7   7       283198 non-null  object
 8   8       283198 non-null  object
 9   9       283198 non-null  float64
 10  10      283198 non-null  float64
 11  11      283198 non-null  float64
 12  12      283198 non-null  float64
 13  13      283198 non-null  object
 14  14      283198 non-null  object
 15  15      283198 non-null  object
 16  16      283198 non-null  object
 17  17      283198 non-null  object
 18  18      283198 non-null  float64
 19  19      283198 non-null  object
 20  20      283198 non-null  object
 21  21      283198 non-null  object
 22  22      283198 non-null  object
 23  23      283198 non-null  object
 24  24      283198 non-null  object
 25  25      283198 non-null  float64
 26  26      283198 non-null  object
 27  27      283198 non-null  object
 28  28      283198 non-null  object
 29  29      283198 non-null  object
 30  30      283198 non-null  object
 31  31      283198 non-null  object
 32  32      283198 non-null  object
 33  33      283198 non-null  object
 34  34      283198 non-null  object
 35  35      283198 non-null  object
 36  36      283198 non-null  object
 37  37      283198 non-null  object
 38  38      283198 non-null  object
 39  39      283198 non-null  object
 40  40      283198 non-null  object
 41  41      283198 non-null  object
 42  42      283198 non-null  object
 43  43      283198 non-null  object
 44  44      283198 non-null  object
 45  45      283198 non-null  object
 46  46      283198 non-null  object
 47  47      283198 non-null  object
 48  48      283198 non-null  object
 49  49      283192 non-null  object
dtypes: float64(7), object(43)
memory usage: 108.0+ MB

In [ ]:
df9['Year']=2019

In [ ]:
df_sample9 = df9.copy()

In [ ]:
df_sample9.rename({0: 'Crash_ID', 1:'County Name',2:'Municipality Name',3:'Crash Date',4:'Crash Day of Week',5:'Crash Time',6:'Police Department Code', 7:'Police Department',
                  8:'Police Station', 9:'Total Killed', 10:'Total Injured', 11:'Pedestrians Killed',12:'Pedestrians Injured', 13:'Severity', 14:'Intersection',
                  15:'Alcohol Involved', 16:'HazMat Involved', 17:'Crash Type Code', 18:'Total Vehicles Involved', 19:'Crash Location',20:'Location Direction',21:'Route',
                  22:'Route Suffix',23:'SRI (Standard Route Indentifier)',24:'Mile Post',25:'Road System',26:'Road Character',27:'Road Horizontal Alignment',28:'Road Grade',29:'Road Surface Type',30:'Surface Condition',
                  31:'Light Condition',32:'Enviornmental Condition',33:'Road Divided By',34:'Temporary Traffic Control Zone',35:'Distance to Cross Street',
                  36:'Unit of Measurement',37:'Direction from Cross Street',38:'Cross Street Name',39:'Is Ramp',40:'Ramp To/From Route Name',41:'Ramp To/From Direction',
                  42:'Posted Speed',43:'Posted Speed Cross Street',44:'First Harmful Event',45:'Latitude',46:'Longitude',47:'Cell Phone In Use Flag',48:'Other Property Damage',49:'Reporting Badge No.'},
                  axis=1, inplace=True
)

In [ ]:
df_sample9.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 283210 entries, 0 to 283209
Data columns (total 51 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   Crash_ID                          283210 non-null  object
 1   County Name                       283204 non-null  object
 2   Municipality Name                 283198 non-null  object
 3   Crash Date                        283198 non-null  object
 4   Crash Day of Week                 283198 non-null  object
 5   Crash Time                        283198 non-null  object
 6   Police Department Code            283198 non-null  float64
 7   Police Department                 283198 non-null  object
 8   Police Station                    283198 non-null  object
 9   Total Killed                      283198 non-null  float64
 10  Total Injured                     283198 non-null  float64
 11  Pedestrians Killed                283198 non-null  float64
 12  Pedestrians Injured               283198 non-null  float64
 13  Severity                          283198 non-null  object
 14  Intersection                      283198 non-null  object
 15  Alcohol Involved                  283198 non-null  object
 16  HazMat Involved                   283198 non-null  object
 17  Crash Type Code                   283198 non-null  object
 18  Total Vehicles Involved           283198 non-null  float64
 19  Crash Location                    283198 non-null  object
 20  Location Direction                283198 non-null  object
 21  Route                             283198 non-null  object
 22  Route Suffix                      283198 non-null  object
 23  SRI (Standard Route Indentifier)  283198 non-null  object
 24  Mile Post                         283198 non-null  object
 25  Road System                       283198 non-null  float64
 26  Road Character                    283198 non-null  object
 27  Road Horizontal Alignment         283198 non-null  object
 28  Road Grade                        283198 non-null  object
 29  Road Surface Type                 283198 non-null  object
 30  Surface Condition                 283198 non-null  object
 31  Light Condition                   283198 non-null  object
 32  Enviornmental Condition           283198 non-null  object
 33  Road Divided By                   283198 non-null  object
 34  Temporary Traffic Control Zone    283198 non-null  object
 35  Distance to Cross Street          283198 non-null  object
 36  Unit of Measurement               283198 non-null  object
 37  Direction from Cross Street       283198 non-null  object
 38  Cross Street Name                 283198 non-null  object
 39  Is Ramp                           283198 non-null  object
 40  Ramp To/From Route Name           283198 non-null  object
 41  Ramp To/From Direction            283198 non-null  object
 42  Posted Speed                      283198 non-null  object
 43  Posted Speed Cross Street         283198 non-null  object
 44  First Harmful Event               283198 non-null  object
 45  Latitude                          283198 non-null  object
 46  Longitude                         283198 non-null  object
 47  Cell Phone In Use Flag            283198 non-null  object
 48  Other Property Damage             283198 non-null  object
 49  Reporting Badge No.               283192 non-null  object
 50  Year                              283210 non-null  int64
dtypes: float64(7), int64(1), object(43)
memory usage: 110.2+ MB

In [ ]:
df_sample9.tail(2)

,Crash_ID,County Name,Municipality Name,Crash Date,Crash Day of Week,Crash Time,Police Department Code,Police Department,Police Station,Total Killed,...,Ramp To/From Direction,Posted Speed,Posted Speed Cross Street,First Harmful Event,Latitude,Longitude,Cell Phone In Use Flag,Other Property Damage,Reporting Badge No.,Year
283208,20192123B150-2019-00476A,WARREN,WHITE TWP,12/30/2019,MO,1214,2.0,NEW JERSEY STATE POLICE,WASHINGTON - SQ,0.0,...,,40,,47,40.845750,75.003800,N,Guardrail outside of 108 CR617 ...,8298,2019
283209,20192123B150-2019-00479A,WARREN,WHITE TWP,12/30/2019,MO,1418,2.0,NEW JERSEY STATE POLICE,WASHINGTON - SQ,0.0,...,,25,,56,40.865800,74.937590,N,Mailbox at 4 Midland Drive owned by William F....,8357,2019

In [ ]:
df10 = pd.read_csv('/content/drive/MyDrive/NJ_Mine/Crash, Raw txt Files/NewJersey2020Accidents.txt',sep=',',header=None, encoding='mac_roman')

In [ ]:
df10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195483 entries, 0 to 195482
Data columns (total 50 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       195481 non-null  object
 1   1       195482 non-null  object
 2   2       195474 non-null  object
 3   3       195474 non-null  object
 4   4       195474 non-null  object
 5   5       195474 non-null  object
 6   6       195474 non-null  float64
 7   7       195474 non-null  object
 8   8       195474 non-null  object
 9   9       195474 non-null  float64
 10  10      195474 non-null  float64
 11  11      195474 non-null  float64
 12  12      195474 non-null  float64
 13  13      195474 non-null  object
 14  14      195474 non-null  object
 15  15      195474 non-null  object
 16  16      195474 non-null  object
 17  17      195474 non-null  object
 18  18      195474 non-null  float64
 19  19      195474 non-null  object
 20  20      195474 non-null  object
 21  21      195474 non-null  object
 22  22      195474 non-null  object
 23  23      195474 non-null  object
 24  24      195474 non-null  object
 25  25      195474 non-null  float64
 26  26      195474 non-null  object
 27  27      195474 non-null  object
 28  28      195474 non-null  object
 29  29      195474 non-null  object
 30  30      195474 non-null  object
 31  31      195474 non-null  object
 32  32      195474 non-null  object
 33  33      195474 non-null  object
 34  34      195474 non-null  object
 35  35      195474 non-null  object
 36  36      195474 non-null  object
 37  37      195474 non-null  object
 38  38      195474 non-null  object
 39  39      195474 non-null  object
 40  40      195474 non-null  object
 41  41      195474 non-null  object
 42  42      195474 non-null  object
 43  43      195474 non-null  object
 44  44      195474 non-null  object
 45  45      195474 non-null  object
 46  46      195474 non-null  object
 47  47      195474 non-null  object
 48  48      195472 non-null  object
 49  49      195466 non-null  object
dtypes: float64(7), object(43)
memory usage: 74.6+ MB

In [ ]:
df10['Year']=2020

In [ ]:
df_sample10 = df10.copy()

In [ ]:
df_sample10.rename({0: 'Crash_ID', 1:'County Name',2:'Municipality Name',3:'Crash Date',4:'Crash Day of Week',5:'Crash Time',6:'Police Department Code', 7:'Police Department',
                  8:'Police Station', 9:'Total Killed', 10:'Total Injured', 11:'Pedestrians Killed',12:'Pedestrians Injured', 13:'Severity', 14:'Intersection',
                  15:'Alcohol Involved', 16:'HazMat Involved', 17:'Crash Type Code', 18:'Total Vehicles Involved', 19:'Crash Location',20:'Location Direction',21:'Route',
                  22:'Route Suffix',23:'SRI (Standard Route Indentifier)',24:'Mile Post',25:'Road System',26:'Road Character',27:'Road Horizontal Alignment',28:'Road Grade',29:'Road Surface Type',30:'Surface Condition',
                  31:'Light Condition',32:'Enviornmental Condition',33:'Road Divided By',34:'Temporary Traffic Control Zone',35:'Distance to Cross Street',
                  36:'Unit of Measurement',37:'Direction from Cross Street',38:'Cross Street Name',39:'Is Ramp',40:'Ramp To/From Route Name',41:'Ramp To/From Direction',
                  42:'Posted Speed',43:'Posted Speed Cross Street',44:'First Harmful Event',45:'Latitude',46:'Longitude',47:'Cell Phone In Use Flag',48:'Other Property Damage',49:'Reporting Badge No.'},
                  axis=1, inplace=True
)

In [ ]:
df_sample10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195483 entries, 0 to 195482
Data columns (total 51 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   Crash_ID                          195481 non-null  object
 1   County Name                       195482 non-null  object
 2   Municipality Name                 195474 non-null  object
 3   Crash Date                        195474 non-null  object
 4   Crash Day of Week                 195474 non-null  object
 5   Crash Time                        195474 non-null  object
 6   Police Department Code            195474 non-null  float64
 7   Police Department                 195474 non-null  object
 8   Police Station                    195474 non-null  object
 9   Total Killed                      195474 non-null  float64
 10  Total Injured                     195474 non-null  float64
 11  Pedestrians Killed                195474 non-null  float64
 12  Pedestrians Injured               195474 non-null  float64
 13  Severity                          195474 non-null  object
 14  Intersection                      195474 non-null  object
 15  Alcohol Involved                  195474 non-null  object
 16  HazMat Involved                   195474 non-null  object
 17  Crash Type Code                   195474 non-null  object
 18  Total Vehicles Involved           195474 non-null  float64
 19  Crash Location                    195474 non-null  object
 20  Location Direction                195474 non-null  object
 21  Route                             195474 non-null  object
 22  Route Suffix                      195474 non-null  object
 23  SRI (Standard Route Indentifier)  195474 non-null  object
 24  Mile Post                         195474 non-null  object
 25  Road System                       195474 non-null  float64
 26  Road Character                    195474 non-null  object
 27  Road Horizontal Alignment         195474 non-null  object
 28  Road Grade                        195474 non-null  object
 29  Road Surface Type                 195474 non-null  object
 30  Surface Condition                 195474 non-null  object
 31  Light Condition                   195474 non-null  object
 32  Enviornmental Condition           195474 non-null  object
 33  Road Divided By                   195474 non-null  object
 34  Temporary Traffic Control Zone    195474 non-null  object
 35  Distance to Cross Street          195474 non-null  object
 36  Unit of Measurement               195474 non-null  object
 37  Direction from Cross Street       195474 non-null  object
 38  Cross Street Name                 195474 non-null  object
 39  Is Ramp                           195474 non-null  object
 40  Ramp To/From Route Name           195474 non-null  object
 41  Ramp To/From Direction            195474 non-null  object
 42  Posted Speed                      195474 non-null  object
 43  Posted Speed Cross Street         195474 non-null  object
 44  First Harmful Event               195474 non-null  object
 45  Latitude                          195474 non-null  object
 46  Longitude                         195474 non-null  object
 47  Cell Phone In Use Flag            195474 non-null  object
 48  Other Property Damage             195472 non-null  object
 49  Reporting Badge No.               195466 non-null  object
 50  Year                              195483 non-null  int64
dtypes: float64(7), int64(1), object(43)
memory usage: 76.1+ MB

In [ ]:
df_sample10.tail(4)

,Crash_ID,County Name,Municipality Name,Crash Date,Crash Day of Week,Crash Time,Police Department Code,Police Department,Police Station,Total Killed,...,Ramp To/From Direction,Posted Speed,Posted Speed Cross Street,First Harmful Event,Latitude,Longitude,Cell Phone In Use Flag,Other Property Damage,Reporting Badge No.,Year
195479,20202123B150-2020-00354A,WARREN,WHITE TWP,12/12/2020,SA,1845,2.0,NEW JERSEY STATE POLICE,WASHINGTON - SQ,0.0,...,,15,,56,40.805720,75.076940,N,Mobile advertisement sign and concrete column....,8354,2020
195480,20202123B150-2020-00361A,WARREN,WHITE TWP,12/15/2020,TU,0612,2.0,NEW JERSEY STATE POLICE,WASHINGTON - SQ,1.0,...,,50,25,22,40.863590,75.014050,N,...,6657,2020
195481,20202123B150-2020-00369A,WARREN,WHITE TWP,12/19/2020,SA,2137,2.0,NEW JERSEY STATE POLICE,WASHINGTON - SQ,0.0,...,,50,,24,40.746800,75.137400,N,...,8246,2020
195482,20202123B150-2020-00383A,WARREN,WHITE TWP,12/31/2020,TH,1247,2.0,NEW JERSEY STATE POLICE,WASHINGTON - SQ,0.0,...,,50,35,26,40.836760,75.026000,N,...,8163,2020

In [ ]:
df_sample10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195483 entries, 0 to 195482
Data columns (total 51 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   Crash_ID                          195481 non-null  object
 1   County Name                       195482 non-null  object
 2   Municipality Name                 195474 non-null  object
 3   Crash Date                        195474 non-null  object
 4   Crash Day of Week                 195474 non-null  object
 5   Crash Time                        195474 non-null  object
 6   Police Department Code            195474 non-null  float64
 7   Police Department                 195474 non-null  object
 8   Police Station                    195474 non-null  object
 9   Total Killed                      195474 non-null  float64
 10  Total Injured                     195474 non-null  float64
 11  Pedestrians Killed                195474 non-null  float64
 12  Pedestrians Injured               195474 non-null  float64
 13  Severity                          195474 non-null  object
 14  Intersection                      195474 non-null  object
 15  Alcohol Involved                  195474 non-null  object
 16  HazMat Involved                   195474 non-null  object
 17  Crash Type Code                   195474 non-null  object
 18  Total Vehicles Involved           195474 non-null  float64
 19  Crash Location                    195474 non-null  object
 20  Location Direction                195474 non-null  object
 21  Route                             195474 non-null  object
 22  Route Suffix                      195474 non-null  object
 23  SRI (Standard Route Indentifier)  195474 non-null  object
 24  Mile Post                         195474 non-null  object
 25  Road System                       195474 non-null  float64
 26  Road Character                    195474 non-null  object
 27  Road Horizontal Alignment         195474 non-null  object
 28  Road Grade                        195474 non-null  object
 29  Road Surface Type                 195474 non-null  object
 30  Surface Condition                 195474 non-null  object
 31  Light Condition                   195474 non-null  object
 32  Enviornmental Condition           195474 non-null  object
 33  Road Divided By                   195474 non-null  object
 34  Temporary Traffic Control Zone    195474 non-null  object
 35  Distance to Cross Street          195474 non-null  object
 36  Unit of Measurement               195474 non-null  object
 37  Direction from Cross Street       195474 non-null  object
 38  Cross Street Name                 195474 non-null  object
 39  Is Ramp                           195474 non-null  object
 40  Ramp To/From Route Name           195474 non-null  object
 41  Ramp To/From Direction            195474 non-null  object
 42  Posted Speed                      195474 non-null  object
 43  Posted Speed Cross Street         195474 non-null  object
 44  First Harmful Event               195474 non-null  object
 45  Latitude                          195474 non-null  object
 46  Longitude                         195474 non-null  object
 47  Cell Phone In Use Flag            195474 non-null  object
 48  Other Property Damage             195472 non-null  object
 49  Reporting Badge No.               195466 non-null  object
 50  Year                              195483 non-null  int64
dtypes: float64(7), int64(1), object(43)
memory usage: 76.1+ MB

In [ ]:
columns = ['Road Horizontal Alignment','Road Grade','First Harmful Event']
#df_sample7.drop('First Harmful Event',axis=1,inplace=True)
#df_sample8.drop('First Harmful Event',axis=1,inplace=True)
#df_sample9.drop('First Harmful Event',axis=1,inplace=True)
df_sample10.drop('First Harmful Event',axis=1,inplace=True)

In [ ]:
df_sample10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195483 entries, 0 to 195482
Data columns (total 50 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   Crash_ID                          195481 non-null  object
 1   County Name                       195482 non-null  object
 2   Municipality Name                 195474 non-null  object
 3   Crash Date                        195474 non-null  object
 4   Crash Day of Week                 195474 non-null  object
 5   Crash Time                        195474 non-null  object
 6   Police Department Code            195474 non-null  float64
 7   Police Department                 195474 non-null  object
 8   Police Station                    195474 non-null  object
 9   Total Killed                      195474 non-null  float64
 10  Total Injured                     195474 non-null  float64
 11  Pedestrians Killed                195474 non-null  float64
 12  Pedestrians Injured               195474 non-null  float64
 13  Severity                          195474 non-null  object
 14  Intersection                      195474 non-null  object
 15  Alcohol Involved                  195474 non-null  object
 16  HazMat Involved                   195474 non-null  object
 17  Crash Type Code                   195474 non-null  object
 18  Total Vehicles Involved           195474 non-null  float64
 19  Crash Location                    195474 non-null  object
 20  Location Direction                195474 non-null  object
 21  Route                             195474 non-null  object
 22  Route Suffix                      195474 non-null  object
 23  SRI (Standard Route Indentifier)  195474 non-null  object
 24  Mile Post                         195474 non-null  object
 25  Road System                       195474 non-null  float64
 26  Road Character                    195474 non-null  object
 27  Road Horizontal Alignment         195474 non-null  object
 28  Road Grade                        195474 non-null  object
 29  Road Surface Type                 195474 non-null  object
 30  Surface Condition                 195474 non-null  object
 31  Light Condition                   195474 non-null  object
 32  Enviornmental Condition           195474 non-null  object
 33  Road Divided By                   195474 non-null  object
 34  Temporary Traffic Control Zone    195474 non-null  object
 35  Distance to Cross Street          195474 non-null  object
 36  Unit of Measurement               195474 non-null  object
 37  Direction from Cross Street       195474 non-null  object
 38  Cross Street Name                 195474 non-null  object
 39  Is Ramp                           195474 non-null  object
 40  Ramp To/From Route Name           195474 non-null  object
 41  Ramp To/From Direction            195474 non-null  object
 42  Posted Speed                      195474 non-null  object
 43  Posted Speed Cross Street         195474 non-null  object
 44  Latitude                          195474 non-null  object
 45  Longitude                         195474 non-null  object
 46  Cell Phone In Use Flag            195474 non-null  object
 47  Other Property Damage             195472 non-null  object
 48  Reporting Badge No.               195466 non-null  object
 49  Year                              195483 non-null  int64
dtypes: float64(7), int64(1), object(42)
memory usage: 74.6+ MB

In [ ]:
df_merge2 = df_merge1.append([df_sample7,df_sample8,df_sample9,df_sample10],ignore_index=True)

In [ ]:
df_merge2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3022654 entries, 0 to 3022653
Data columns (total 51 columns):
 #   Column                            Dtype
---  ------                            -----
 0   Crash_ID                          object
 1   County Name                       object
 2   Municipality Name                 object
 3   Crash Date                        object
 4   Crash Day of Week                 object
 5   Crash Time                        object
 6   Police Department Code            object
 7   Police Department                 object
 8   Police Station                    object
 9   Total Killed                      float64
 10  Total Injured                     float64
 11  Pedestrians Killed                float64
 12  Pedestrians Injured               float64
 13  Severity                          object
 14  Intersection                      object
 15  Alcohol Involved                  object
 16  HazMat Involved                   object
 17  Crash Type Code                   object
 18  Total Vehicles Involved           float64
 19  Crash Location                    object
 20  Location Direction                object
 21  Route                             object
 22  Route Suffix                      object
 23  SRI (Standard Route Indentifier)  object
 24  Mile Post                         object
 25  Road System                       object
 26  Road Character                    object
 27  Road Surface Type                 object
 28  Surface Condition                 object
 29  Light Condition                   object
 30  Enviornmental Condition           object
 31  Road Divided By                   object
 32  Temporary Traffic Control Zone    object
 33  Distance to Cross Street          object
 34  Unit of Measurement               object
 35  Direction from Cross Street       object
 36  Cross Street Name                 object
 37  Is Ramp                           object
 38  Ramp To/From Route Name           object
 39  Ramp To/From Direction            object
 40  Posted Speed                      object
 41  Posted Speed Cross Street         object
 42  Latitude                          object
 43  Longitude                         object
 44  Cell Phone In Use Flag            object
 45  Other Property Damage             object
 46  Reporting Badge No.               object
 47  Year                              int64
 48  Road Horizontal Alignment         object
 49  Road Grade                        object
 50  First Harmful Event               object
dtypes: float64(5), int64(1), object(45)
memory usage: 1.1+ GB

In [ ]:
df_merge2.drop('Road Horizontal Alignment',axis=1,inplace=True)

In [ ]:
df_merge2.drop('Road Grade',axis=1,inplace=True)

In [ ]:
df_merge2.drop('First Harmful Event',axis=1,inplace=True)

In [ ]:
df_merge2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3022654 entries, 0 to 3022653
Data columns (total 48 columns):
 #   Column                            Dtype
---  ------                            -----
 0   Crash_ID                          object
 1   County Name                       object
 2   Municipality Name                 object
 3   Crash Date                        object
 4   Crash Day of Week                 object
 5   Crash Time                        object
 6   Police Department Code            object
 7   Police Department                 object
 8   Police Station                    object
 9   Total Killed                      float64
 10  Total Injured                     float64
 11  Pedestrians Killed                float64
 12  Pedestrians Injured               float64
 13  Severity                          object
 14  Intersection                      object
 15  Alcohol Involved                  object
 16  HazMat Involved                   object
 17  Crash Type Code                   object
 18  Total Vehicles Involved           float64
 19  Crash Location                    object
 20  Location Direction                object
 21  Route                             object
 22  Route Suffix                      object
 23  SRI (Standard Route Indentifier)  object
 24  Mile Post                         object
 25  Road System                       object
 26  Road Character                    object
 27  Road Surface Type                 object
 28  Surface Condition                 object
 29  Light Condition                   object
 30  Enviornmental Condition           object
 31  Road Divided By                   object
 32  Temporary Traffic Control Zone    object
 33  Distance to Cross Street          object
 34  Unit of Measurement               object
 35  Direction from Cross Street       object
 36  Cross Street Name                 object
 37  Is Ramp                           object
 38  Ramp To/From Route Name           object
 39  Ramp To/From Direction            object
 40  Posted Speed                      object
 41  Posted Speed Cross Street         object
 42  Latitude                          object
 43  Longitude                         object
 44  Cell Phone In Use Flag            object
 45  Other Property Damage             object
 46  Reporting Badge No.               object
 47  Year                              int64
dtypes: float64(5), int64(1), object(42)
memory usage: 1.1+ GB

In [ ]:
from google.colab import drive

#drive.mount('/content/drive')
path = '/content/drive/MyDrive/NJ_Clean Data/NJ_Accidents(2016-2020).csv'

with open(path, 'w', encoding = 'utf-8-sig') as f:
  df_merge2.to_csv(f)